<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{privilege.title.user(${userProfileDTO.fullName})}">assign-privileges</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
    <th:block th:replace="fragments/Components :: importBootstrapSelect"></th:block>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title" th:text="#{privilege.title.user(${userProfileDTO.fullName})}"></h5>
        </div>
        <div class="card-body">
            <div class="row justify-content-between">
                <div class="col-5">
                    <form id="assignProjectForm" class="form" method="post" th:action="@{/project/assign}">
                        <fieldset>
                            <input type="hidden" name="assignTo" th:value="${userProfileDTO.id}">
                            <div class="form-group col" id="project-form-group">
                                <label class="control-label" for="projectID" style="color: grey" th:text="#{project.id}">
                                    Project Name</label>
                                <div class="row" th:with="isReadOnly = ${readOnlyProjectID != null && readOnlyProjectID}">
                                    <!--/*@thymesVar id="readOnlyProjectID" type="java.lang.Boolean"*/-->
                                    <input class="form-control col" id="projectID" name="projectID" type="text"
                                           th:placeholder="#{project.id}"
                                           th:readonly="${isReadOnly}"
                                           th:class="(${isReadOnly}) ? 'form-control-plaintext col': 'form-control col-8 mx-3'">
                                    <button class="btn btn-secondary" data-target="#search-project-modal" data-toggle="modal"
                                            id="add-project" th:data-action="@{/project/select}"
                                            th:text="#{common.search}" type="button" th:if="${!isReadOnly}"></button>
                                </div>
                            </div>
                            <div class="form-group col">
                                <button type="submit" class="btn btn-success col-auto" th:text="#{common.confirm}"></button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="border"></div>
                <div class="col-5">
                    <form class="form" id="assign-privileges-form"
                          th:action="@{/profile/{id}/privileges(id=${userProfileDTO.id})}" method="post">
                        <fieldset>
                            <div th:replace="fragments/Components ::
                        selectField('project', ${userProjectIds}, null, #{project.id}, true)"></div>
                            <div th:replace="fragments/Components ::
                        multipleSelectField('privilege', ${privilegeList}, null, #{privilege}, true)"></div>
                            <div class="form-group row">
                                <div class="col">
                                    <button type="submit" class="btn btn-success col-auto" th:text="#{common.confirm}"></button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript" type="application/javascript">
        /*<![CDATA[*/
        $(function () {
            openModalWindowOnAction({
                component: $("#add-project"),
                action: "click",
                modalId: "#search-project-modal",
                override: true,
                success: function () {
                    $("#search-project-modal-body").find(":button").on("click", function () {
                        $("#projectID").val($(this).parent().parent().find("a:first").text());
                        $('#search-project-modal').modal('toggle');
                    });
                }
            });
        });
        /*]]>*/
    </script>
    <div th:replace="fragments/Components :: modal(id='search-project-modal', title=#{project.title.search})"></div>
</div>
</body>
</html>