<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{user.title.changePassword}">Change Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div th:fragment="changePassword" class="container border col-lg-5">

    <!--/*@thymesVar id="showError" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="errorMsg" type="java.lang.String"*/-->
    <div id="errormsg" class="alert alert-danger" th:text="${(showError != null && showError) ?  errorMsg : '' }"
         th:styleappend="${(showError != null && showError)  ? 'display: block' : 'display: none'}"></div>
    <div>

        <form id="changePasswordForm" class="form-narrow form-horizontal col-sm-12" th:action="@{/user/updatePassword}"
              method="post">
            <fieldset>
                <legend th:text="#{user.changePassword}">Change your Password</legend>
                <div class="form-group">
                    <label style="color: grey" for="oldPassword" class="col control-label"
                           th:text="#{user.oldPassword}">Old Password</label>
                    <div class="col-lg-12">
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                               th:placeholder="#{user.oldPassword}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: grey" for="newPassword" class="col control-label"
                           th:text="#{user.newPassword}">New Password</label>
                    <div class="col-lg-12">
                        <input type="password" class="form-control" id="newPassword" name="newPassword"
                               th:placeholder="#{user.newPassword}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: grey" for="confirmPassword" class="col control-label"
                            th:text="#{user.newPassword.confirm}">Repeat new Password</label>
                    <div class="col-lg-12">
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                               th:placeholder="#{user.newPassword}"/>
                    </div>
                </div>
                <div class="form-group col">
                    <button type="submit" class="btn btn-primary" th:text="#{user.changePassword}">Change Password
                    </button>
                </div>

            </fieldset>
        </form>
    </div>

    <script type="text/javascript">
        $("#changePasswordForm").submit(function (event) {

            if (!$("#oldPassword").val()) {
                $("#errormsg").text("Old Password can't be empty").show();
                event.preventDefault();
            } else if (!$("#newPassword").val()) {
                $("#errormsg").text("New password can't be empty").show();
                event.preventDefault();
            } else if ($("#confirmPassword").val() != $("#newPassword").val()) {
                $("#errormsg").text("Passwords doesn't match").show();
                event.preventDefault();
            }
        });
    </script>

</div>

</body>
</html>