<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{user.title.create}">Create User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container col-lg-5">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" th:text="#{user.create.form.title}">Create User</h4>
            </div>
            <div class="card-body">
                <div th:fragment="createUserFragment">
                    <div th:replace="fragments/Components :: errorComponent('error-msg')"></div>
                    <div>
                        <form id="userForm" class="form-narrow form-horizontal col-sm-12" th:action="@{/user/create}" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label style="color: grey" for="fullName" class="col control-label" th:text="#{user.fullName}">
                                        Full Name
                                    </label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="fullName" th:placeholder="#{user.fullName}" name="fullName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="color: grey" for="email" class="col control-label" th:text="#{user.email}">
                                        Email
                                    </label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="email" th:placeholder="#{user.email}" name="email"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="color: grey" for="password" class="col control-label" th:text="#{user.password}">New Password</label>
                                    <div class="col-lg-12">
                                        <input type="password" class="form-control" id="password" placeholder="Password"
                                               name="password" th:placeholder="#{user.password}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="color: grey" for="confirmPassword" class="col control-label"
                                           th:text="#{user.repeatPassword}">
                                        Repeat new Password
                                    </label>
                                    <div class="col-lg-12">
                                        <input type="password" class="form-control" id="confirmPassword" placeholder="Password"
                                               name="confirmPassword" th:placeholder="#{user.password}"/>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <button type="submit" class="btn btn-primary" th:text="#{user.button.create}">Create User</button>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        $(function () {
                            ajaxSubmitFormPost({
                                component: $("#userForm"),
                                errorComponent: $("#error-msg"),
                                preCheck: function () {
                                    var errorMsg = null;
                                    if (!$("#fullName").val()) {
                                        errorMsg = /*[[#{error.emptyField(${#messages.msg('user.fullName')})}]]*/ "Email can't be empty";
                                    } else if (!$("#email").val()) {
                                        errorMsg = /*[[#{error.createUser.emptyEmail}]]*/ "Email can't be empty";
                                    } else if (!$("#password").val()) {
                                        errorMsg =  /*[[#{error.createUser.emptyPassword}]]*/ "Password can't be empty";
                                    } else if ($("#password").val() != $("#confirmPassword").val()) {
                                        errorMsg = /*[[#{error.createUser.passwordNotMatch}]]*/ "Passwords doesn't match!";
                                    }

                                    if (errorMsg) {
                                        $("#error-msg").text(errorMsg);
                                        $("#error-msg").addClass('show');
                                        return true;
                                    }
                                    return false;
                                }
                            });
                        });
                        /*]]>*/
                    </script>
                </div>
            </div>
        </div>
    </div>

</body>
</html>