<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<br>
<div class="container">
    <div class="card">
        <!--/*@thymesVar id="userSearchForm" type="es.udc.fic.gesta.app.web.controller.user.form.UserSearchForm"*/-->
        <div class="card-header">
            <h5 th:with="searchTitle = #{user.title.search}"
                th:text="${(userSearchForm.projectId != null ? userSearchForm.projectId + ' - '  : '') + searchTitle}"></h5>
        </div>
        <div class="card-body" th:fragment="userSearchForm">
            <form class="form-inline" method="get" action="#" th:action="@{/user/search}" th:object="${userSearchForm}">
                <div class="form-group mb-2 mr-sm-2">
                    <label for="emailInput" class="sr-only" th:text="#{user.email}"> Email</label>
                    <input type="text" class="form-control" placeholder="Email" id="emailInput" name="email"
                           th:value="*{email}" th:placeholder="#{user.email}">
                </div>
                <div class="form-group mb-2 mr-sm-2">
                    <label for="nameInput" class="sr-only" th:text="#{user.fullName}"> Full Name</label>
                    <input type="text" class="form-control" placeholder="Full Name" id="nameInput" name="fullName"
                           th:value="*{name}" th:placeholder="#{user.fullName}">
                </div>
                <!--/*@thymesVar id="blockProjectFilter" type="java.lang.Boolean"*/-->
                <div class="form-group mb-2 mr-sm-2" th:unless="${blockProjectFilter}">
                    <label for="projectInput" class="sr-only" th:text="#{project.id}"> Project ID</label>
                    <input type="text" class="form-control" id="projectInput" name="projectId"
                           th:value="*{projectId}" th:placeholder="#{project.id}">
                </div>
                <div class="form-group mb-2 mr-sm-2" th:if="${blockProjectFilter}">
                    <input type="hidden" id="projectInput" name="projectId" th:value="*{projectId}">
                </div>

                <button id="searchUserButton" type="submit" class="btn btn-primary mb-2" th:text="#{common.search}">Search
                </button>
            </form>

            <div id="search-result-body" class="container">
                <div th:fragment="userSearchResult">
                    <!--/*@thymesVar id="resultPage" type="org.springframework.data.domain.Page"*/-->
                    <!--/*@thymesVar id="selectUser" type="java.lang.Boolean"*/-->
                    <table class="table table-bordered" id="tableResult">
                        <thead>
                        <tr>
                            <th th:text="#{user.fullName}"> Name</th>
                            <th th:text="#{user.email}"> Email</th>
                            <th th:if="${selectUser}" th:text="#{common.select}"> Select</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${resultPage.totalElements == 0}">
                            <td colspan="2"> No users found</td>
                        </tr>
                        <tr th:each="user : ${resultPage.content}">
                            <!--/*@thymesVar id="user" type="es.udc.fic.gestamodel.service.user.UserProfileDTO"*/-->
                            <td>
                                <a class="hyperlink result-details-lnk" th:href="@{/profile/{id}(id=${user.id})}" th:text="${user.fullName}"> Full Name </a>
                            </td>
                            <td><span th:text="${user.email}"> Email </span></td>
                            <td th:if="${selectUser}">
                                <button type="button" class="btn btn-secondary select-user-btn" th:id="'select-'+${user.id}"
                                        th:attr="data-id=${user.id}, data-email=${user.email}, data-fullname=${user.fullName}"
                                        th:onclick="'selectUser(this)'"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--/*@thymesVar id="pageNumbers" type="java.util.List<java.lang.Integer>"*/-->
                    <!--/*@thymesVar id="resultPage" type="org.springframework.data.domain.Page"*/-->
                    <nav aria-label="Page navigation example"
                         th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                         th:if="${resultPage.totalPages > 1}">
                        <ul class="pagination">
                            <li class="page-item" th:each="pageNumber : ${pageNumbers}"
                                th:classappend="${pageNumber==resultPage.number + 1} ? active">
                                <a class="page-link"
                                   th:href="@{${urlBuilder.replaceQueryParam('page',pageNumber).build().toUriString()}}"
                                   th:text="${pageNumber}">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                $("#searchUserButton").on("click", function (event) {
                    event.preventDefault();
                    var resultUrl = '/user/searchResult?';
                    resultUrl = resultUrl + "email=" + $("#emailInput").val();
                    resultUrl = resultUrl + "&fullName=" + $("#nameInput").val();
                    resultUrl = resultUrl + "&projectId=" + $("#projectInput").val();
                    resultUrl = resultUrl + "&selectUser=" +/*[[${selectUser}]]*/ "false";
                    $.ajax({
                        url: resultUrl,
                        cache: false,
                        success: function (ta) {
                            $("#search-result-body").html(ta);
                        },
                        error: function (xhr, status, error) {
                            $("#search-result-body").html("error");
                        }

                    });
                });
                $(".page-link").on("click", function (event) {
                    var resultUrl = '/user/searchResult?';
                    resultUrl = resultUrl + "email=" + $("#emailInput").val();
                    resultUrl = resultUrl + "&fullName=" + $("#nameInput").val();
                    resultUrl = resultUrl + "&projectId=" + $("#projectInput").val();
                    resultUrl = resultUrl + "&page=" + $(this).text();
                    resultUrl = resultUrl + "&selectUser=" +/*[[${selectUser}]]*/ "false";
                    $.ajax({
                        url: resultUrl,
                        cache: false,
                        success: function (ta) {
                            $("#tableResult").html($(ta).find("#tableResult").html());
                        },
                        error: function (xhr, status, error) {
                            $("#search-result-body").html("error");
                        }

                    });

                    $(".page-item").removeClass("active");
                    $(this).parent().addClass("active");
                    return false;
                });

                /*]]>*/
            </script>
        </div>
    </div>
</div>


</body>
</html>