<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{user.title.userProfile}">User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <br>
    <div class="container">
        <th:block th:fragment="userProfileFragment">
            <!--/*@thymesVar id="userProfile" type="es.udc.fic.gestamodel.service.user.UserProfileDTO"*/-->
            <div class="row">
                <div class="col-sm-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header" th:text="#{user.profile}">Profile</div>
                        <div class="card-body">
                            <h4 class="card-title" th:text="${userProfile.fullName}"></h4>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/profile/{id}/privileges(id=${userProfile.id})}" th:text="#{privilege.manage}"></a>
                            <p class="card-text" th:text="${userProfile.email}"></p>
                            <a th:if="${#authentication.getName() == userProfile.email}" th:href="@{/user/changepassword}"
                               th:text="#{user.changePassword}"> Change Password</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card bg-light"
                         th:with="hasProjects = ${userProfile.projects != null && !userProfile.projects.isEmpty()}">
                        <div class="card-header">
                            <div th:text="#{user.projects}" th:remove="tag">Projects</div>
                            <a href="#" class="text-primary float-right"
                               th:href="@{/project/assign(assignTo=${userProfile.id})}"> Assign</a>
                        </div>
                        <!--/*@thymesVar id="hasProjects" type="java.lang.Boolean"*/-->
                        <div class="card-body" th:if="${!hasProjects}">
                            <p class="card-text" th:text="#{user.projects.noAssignedProjects}">
                                No Projects assigned</p>
                        </div>
                        <div th:insert="fragments/ResultTables ::
                                    projectTable(${userProfile.projects}, 'table-bordered card-table', null)"
                               th:if="${hasProjects}">
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>