<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="projectId" type="java.lang.String"*/-->
<head>
    <meta charset="UTF-8">
    <title th:with="branchTitle = #{git.title.assignBranch}"
           th:text="${project_id + ' - ' + cycle_id+ ' - ' + branchTitle}">branches</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="card" th:fragment="branchesFragment">
        <div class="card-header">
            <h5 class="card-title"
                th:with="branchTitle = #{git.title.assignBranch}"
                th:text="${project_id + ' - ' + cycle_id+ ' - ' + branchTitle}"></h5>
        </div>
        <div class="card-body"
             th:with="redirectUrl = @{/project/{project_id}/cycle/{cycle}(project_id=${project_id}, cycle=${cycle_id})}">
            <th:block th:replace="git/branches :: resultBranchesFragment"/>
        </div>
    </div>
</div>
</body>
</html>