<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:with="branchTitle = #{git.title.branches}" th:text="${projectId + ' - ' + branchTitle}">branches</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="card" th:fragment="branchesFragment">
        <div class="card-header">
            <!--/*@thymesVar id="projectId" type="java.lang.String"*/-->
            <h5 class="card-title" th:text="#{git.projectBranches(${projectId})}"></h5>
        </div>
        <div class="card-body">
            <th:block th:fragment="resultBranchesFragment">
                <div id="error-msg" th:replace="fragments/Components :: errorComponent('error-msg')">
                </div>
                <!--/*@thymesVar id="isSelect" type="java.lang.Boolean"*/-->
                <input class="form-control" id="branch-search-input" type="text"
                       th:placeholder="#{common.searchPlaceholder}">
                <script>
                    $(function(){
                        $("#branch-search-input").on("keyup", function() {
                            var value = $(this).val().toLowerCase();
                            $("#branch-table-body tr").filter(function() {
                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                        });
                    });
                </script>
                <br>
                <table id="branch-table" class="table table-bordered">
                    <thead>
                    <tr class="d-flex">
                        <th class="col" th:text="#{git.branchName}"></th>
                    </tr>
                    </thead>
                    <tbody id="branch-table-body">
                    <tr th:each="branchDTO : ${branchDTOS}">
                        <td class="col">
                            <a th:text="${branchDTO.branchName}" th:href="${branchDTO.url}"></a>
                        </td>
                        <td class="col-2" th:if="${isSelect}">
                            <form method="post" th:action="@{${selectUrl}}">
                                <input type="hidden" name="branch" th:value="${branchDTO.branchName}"/>
                            <button class="btn btn-secondary select-branch-btn"
                                    th:data-select="${branchDTO.branchName}"
                                    name="select-branch-btn" th:text="#{common.select}"></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <script th:if="${isSelect}" type="application/javascript" th:inline="javascript">
                    /*<![CDATA[*/
                    $(function () {
                        $("#branch-table form").on("submit",function (e) {
                            e.preventDefault();
                            var url = [[@{${selectUrl}}]];
                            var errorComponent = $("#error-msg");
                            var redirectUrl = [[${redirectUrl}]];
                            $.ajax({
                                url: url,
                                cache: false,
                                method: "POST",
                                data: $(this).serialize(),
                                success: function (data,textStatus, request) {
                                    if (errorComponent.is(":visible")) {
                                        errorComponent.hide();
                                    }
                                    if(redirectUrl){
                                        document.location.href = redirectUrl;
                                    }

                                },
                                error: function (xhr, status, error) {
                                    if (errorComponent) {
                                        errorComponent.addClass("show");
                                        if (!errorComponent.is(":visible")) {
                                            errorComponent.show();
                                        }
                                        errorComponent.text(xhr.responseJSON.message);
                                    }
                                }
                            });
                            return false;
                        });
                    });
                    /*]]>*/
                </script>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>