<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title><th:block th:text="${project_id}"/>
        - <th:block th:text="${cycle_name}" th:href="@{/cycle/{name}(name=${cycle_name})}"/>
        - [[#{git.commits}]]
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5><a th:text="${project_id}" th:href="@{/project/details/{id}(id=${project_id})}"></a>
                - <a th:text="${cycle_name}" th:href="@{/cycle/{name}(name=${cycle_name})}"></a>
                - [[#{git.commits}]]</h5>
        </div>
        <div class="card-body">
            <th:block th:fragment="cycleCommitsFragment">
                <th:block th:replace="git/issue-commits :: issueCommitsFragment"/>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>