<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${issue +' - ' + #messages.msg('git.commits')}">issue-commits</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5><a th:text="${issue}" th:href="@{/issue/details/{id}(id=${issue})}"></a> - [[#{git.commits}]]</h5>
        </div>
        <div class="card-body">
            <th:block th:fragment="issueCommitsFragment"
                      th:with="emptyCommitList = ${issueCommitDTOS == null || issueCommitDTOS.isEmpty()}">
                <span th:if="${emptyCommitList}" th:text="#{git.msg.noRecentCommits}"></span>
                <th:block th:unless="${emptyCommitList}">
                    <input class="form-control" id="commit-search-input" type="text"
                           th:placeholder="#{common.searchPlaceholder}">
                    <script>
                        $(function () {
                            $("#commit-search-input").on("keyup", function () {
                                var value = $(this).val().toLowerCase();
                                $("#commit-table-body tr").filter(function () {
                                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                });
                            });
                        });
                    </script>
                    <br>
                    <table id="commit-table" class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="col-2" th:text="#{git.commit.id}"></th>
                            <th class="col" th:text="#{git.commit.message}"></th>
                        </tr>
                        </thead>
                        <tbody id="commit-table-body">
                        <tr th:each="commitDTO : ${issueCommitDTOS}">
                            <td class="col-2">
                                <a th:text="${commitDTO.getCommitShortId()}" th:href="${commitDTO.getCommitUrl()}"></a>
                            </td>
                            <td class="col" th:text="${commitDTO.getCommitMessage()}"></td>
                        </tr>
                        </tbody>
                    </table>
                    </th:block>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>