<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="pageTitle" type="java.lang.String"*/-->
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} ? ${pageTitle} : #{git.title.repositories}">repositories</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="card" th:fragment="repositoriesFragment">
        <div class="card-header">
            <!--/*@thymesVar id="projectId" type="java.lang.String"*/-->
            <h5 class="card-title" th:text="${pageTitle} ? ${pageTitle} : #{git.title.repositories}"></h5>
        </div>
        <div class="card-body">
            <th:block th:fragment="repositoriesResultFragment">
                <input class="form-control" id="repository-search-input" type="text"
                       th:placeholder="#{common.searchPlaceholder}">
                <script>
                    $(function () {
                        $("#repository-search-input").on("keyup", function () {
                            var value = $(this).val().toLowerCase();
                            $("#repository-table-body tr").filter(function () {
                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                        });
                    });
                </script>
                <br>
                <table id="repository-table" class="table table-bordered">
                    <thead>
                    <tr class="d-flex">
                        <th class="col" th:text="#{git.branchName}"></th>
                    </tr>
                    </thead>
                    <tbody id="repository-table-body">
                    <tr th:each="repositoryDTO : ${repositoryDTOS}">
                        <td class="col">
                            <a th:text="${repositoryDTO.repositoryName}" th:href="${repositoryDTO.repositoryUrl}"></a>
                        </td>
                        <!--/*@thymesVar id="isSelect" type="java.lang.Boolean"*/-->
                        <!--/*@thymesVar id="selectFormInputs" type="java.util.List"*/-->
                        <td class="col-2" th:if="${isSelect}">
                            <form method="post" th:action="@{${selectFormAction}}">
                                <!--/*@thymesVar id="formInput" type="es.udc.fic.gesta.app.web.utils.FormInput"*/-->
                                <input th:each="formInput : ${selectFormInputs}" th:type="${formInput.type}"
                                       th:name="${formInput.name}"
                                       th:value="${__${'repositoryDTO.'+formInput.value}__}"/>
                                <button class="btn btn-secondary" data-select="" name="select-branch-btn"
                                        th:text="#{common.select}"></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>