<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{timeLog.title.viewTimeLogs}">time-logs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/css/bootstrap-select.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/js/bootstrap-select.min.js"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="card" th:fragment="timeLogsFragment">
        <div id="time-logs-header" class="card-header">
            <h5 class="card-title" th:text="#{timeLog.title.viewTimeLogs}"></h5>
            <form id="search-time-log-form" class="form form-horizontal"
                  th:action="@{${#httpServletRequest.requestURI}}" method="get">
                <fieldset class="row">
                    <div class="form-group col-auto">
                        <label class="control-label" for="issueId" style="color: grey"
                               th:text="#{issue.issueID}">
                        </label>
                        <select id="issueId" name="issueId" class="selectpicker col" data-show-subtext="true"
                                data-live-search="true">
                            <option></option>
                            <option th:each="issue : ${issueFilter}" th:text="${issue}"
                                    th:selected="${param.issueId != null && issue.compareTo(param.issueId) == 0}"></option>
                        </select>
                    </div>
                    <div class="form-group col-auto" th:unless="${isProjectTimeLogs}">
                        <label class="control-label" for="projectId" style="color: grey"
                               th:text="#{project.id}">
                        </label>
                        <select id="projectId" name="projectId" class="selectpicker col" data-show-subtext="true"
                                data-live-search="true">
                            <option></option>
                            <option th:each="project : ${projectFilter}" th:text="${project}"
                                    th:selected="${param.projectId != null && project.compareTo(param.projectId) == 0}"></option>
                        </select>
                    </div>
                    <div class="form-group col-auto" th:if="${isProjectTimeLogs}">
                        <label class="control-label" for="user" style="color: grey"
                               th:text="#{user.title.search}">
                        </label>
                        <select id="user" name="user" class="selectpicker col" data-show-subtext="true"
                                data-live-search="true" multiple>
                            <option></option>
                            <option th:each="user : ${userProfilesDTOs}" th:text="${user.fullName}" th:value="${user.id}"
                                th:selected="${selectedUsers != null && selectedUsers.contains(user.id)}"></option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary mb-2" id="search-issue-btn" th:text="#{common.search}"
                                type="submit">
                        </button>
                    </div>
                </fieldset>
            </form>

        </div>
        <div id="time-log-results">
            <table class="card-table mb-0 table table-sm table-bordered" th:fragment="timeLogsResultFragment">
                <thead>
                <tr class="table-primary">
                    <th class="col col-md-2 col-lg-2" th:text="#{issue.issueID}"></th>
                    <th class="col col-md-4 col-lg-2" th:text="#{timeLog.date}"></th>
                    <th class="col col-md-2 col-lg-1" th:text="#{timeLog.hours}"></th>
                    <th class="col" th:text="#{user.fullName}" th:if="${isProjectTimeLogs}"></th>
                    <th class="col" th:text="#{timeLog.comment}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="timeLog : ${timeLogsDTO}"  th:classappend="${timeLogStat.odd} ? '' : 'table-secondary'">
                    <td class="col col-md-2 col-lg-2"><a th:text="${timeLog.getIssueId()}" th:href="@{/issue/details/{id}(id=${timeLog.getIssueId()})}"></a></td>
                    <td class="col col-md-4 col-lg-2" th:text="${#dates.format(timeLog.date, 'dd-MMM-yyyy')}"></td>
                    <td class="col col-md-2 col-lg-1" th:text="${timeLog.hours}"></td>
                    <td class="col" th:if="${isProjectTimeLogs}"><a th:text="${timeLog.userName}"></a></td>
                    <td class="col" th:text="${timeLog.comment}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <script th:inline="javascript">
            $(function () {
                ajaxSubmitFormGet({
                    component: $("#search-time-log-form"),
                    resultComponent: $("#time-log-results"),
                    url: '/time-logs-result'
                });
            });
        </script>
    </div>
</div>
</body>
</html>