<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        Components
    </title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <link rel="shortcut icon" href="../../resources/images/plane_favicon.ico"/>

    <th:block th:fragment="importBootstrapSelect">
        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/css/bootstrap-select.min.css"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/js/bootstrap-select.min.js"></script>
    </th:block>
</head>
<body>
<!-- Reusable alert -->
<div th:fragment="alert (type, message)" class="alert alert-dismissable" th:classappend="'alert-' + ${type}">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <span th:text="${message}">Test</span>
</div>
<!-- Reusable modal -->
<div th:fragment="modal (id, title)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog"
     aria-labelledby="modalLabel" aria-hidden="true">
    <!--/*@thymesVar id="modalSize" type="java.lang.String"*/-->
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <div class="modal-dialog" th:classappend="${modalSize != null} ? ${modalSize} : ''">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgba(0,0,0,.03);">
                <h4 class="modal-title" id="modalLabel" th:text="${title}">My modal</h4>
                <button type="button" class="close modal-close-btn" onclick="$($(this).data('modal-id')).modal('hide');"
                        th:data-modal-id="${'#'+id}" aria-hidden="true">&times;
                </button>
            </div>
            <div class="modal-body" th:id="${id + '-body'}"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dynamicSelect"
                        onclick="$($(this).data('modal-id')).modal('hide');"
                        th:data-modal-id="${'#'+id}">Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- FORM FIELDS -->
<!-- Common Control Label-->
<th:block th:fragment="commonControlLabelFragment">
    <!--/*@thymesVar id="commonControlLabelFragmentClass" type="java.lang.String"*/-->
    <!--/*@thymesVar id="horizontal" type=""*/-->
    <!--/*@thymesVar id="text" type=""*/-->
    <label class="control-label" th:with="defaultClass = ${horizontal} ? 'col-3' :''"
           th:classappend="${commonControlLabelFragmentClass != null} ? ${commonControlLabelFragmentClass}: ${defaultClass}"
           th:for="${id}" th:text="${text}" style="color: grey">
    </label>
</th:block>
<!-- Common Text Field-->
<th:block th:fragment="textField (id, value, text, placeholder, horizontal, isReadonly)">
    <!--/*@thymesVar id="horizontal" type=""*/-->
    <!--/*@thymesVar id="id" type=""*/-->
    <!--/*@thymesVar id="text" type=""*/-->
    <!--/*@thymesVar id="placeholder" type=""*/-->
    <!--/*@thymesVar id="value" type=""*/-->
    <!--/*@thymesVar id="isReadonly" type=""*/-->
    <div class="form-group" th:classappend="${horizontal} ? 'row' :''">
        <label th:replace=":: commonControlLabelFragment">
        </label>
        <input class="form-control col" th:id="${id}" th:name="${id}" type="text"
               th:placeholder="${placeholder}" th:value="${value}" th:readonly="${isReadonly}"/>
    </div>
</th:block>
<!-- Common Text Area Field-->
<th:block th:fragment="textAreaField (id, value, text, rows)">
    <!--/*@thymesVar id="horizontal" type=""*/-->
    <!--/*@thymesVar id="id" type=""*/-->
    <!--/*@thymesVar id="text" type=""*/-->
    <!--/*@thymesVar id="placeholder" type=""*/-->
    <!--/*@thymesVar id="value" type=""*/-->
    <!--/*@thymesVar id="isReadonly" type=""*/-->
    <div class="form-group">
        <label th:replace=":: commonControlLabelFragment">
        </label>
        <textarea class="form-control col" th:id="${id}" th:name="${id}" th:text="${value}" th:readonly="${isReadonly}"></textarea>
    </div>
</th:block>
<!-- Common Select Field-->
<th:block th:fragment="selectField (id, options, value, text, horizontal)">
    <!--/*@thymesVar id="text" type=""*/-->
    <!--/*@thymesVar id="id" type=""*/-->
    <!--/*@thymesVar id="value" type=""*/-->
    <!--/*@thymesVar id="options" type=""*/-->
    <!--/*@thymesVar id="horizontal" type=""*/-->
    <!--/*@thymesVar id="multiple" type=""*/-->
    <div class="form-group" th:classappend="${horizontal} ? 'row' :''">
        <label th:replace=":: commonControlLabelFragment">
        </label>
        <select class="form-control col" th:name="${id}" th:id="${id}" th:multiple="${multiple != null && multiple}">
            <option th:each="option : ${options}" th:value="${option}" th:text="${option}"
                th:selected="${option == value}"></option>
        </select>
    </div>
</th:block>
<!-- Common Select Field-->
<th:block th:fragment="enumSelectField (id, options, value, i18nOptionPrefix, text, horizontal)">
    <!--/*@thymesVar id="text" type=""*/-->
    <!--/*@thymesVar id="id" type=""*/-->
    <!--/*@thymesVar id="value" type=""*/-->
    <!--/*@thymesVar id="options" type=""*/-->
    <!--/*@thymesVar id="horizontal" type=""*/-->
    <!--/*@thymesVar id="multiple" type=""*/-->
    <!--/*@thymesVar id="i18nOptionPrefix" type=""*/-->
    <div class="form-group" th:classappend="${horizontal} ? 'row' :''">
        <label th:replace=":: commonControlLabelFragment">
        </label>
        <select class="form-control col" th:name="${id}" th:id="${id}" th:multiple="${multiple != null && multiple}">
            <option th:each="option : ${options}"
                    th:with="optionText = ${#messages.msgOrNull(i18nOptionPrefix + option.toString())}"
                    th:value="${option}" th:text="${optionText}"
                    th:selected="${option == value}"></option>
        </select>
    </div>
</th:block>
<!-- Multiple Select Field-->
<th:block th:fragment="multipleSelectField (id, options, value, text, horizontal)">
    <!--/*@thymesVar id="text" type=""*/-->
    <!--/*@thymesVar id="id" type=""*/-->
    <!--/*@thymesVar id="value" type=""*/-->
    <!--/*@thymesVar id="options" type=""*/-->
    <!--/*@thymesVar id="horizontal" type=""*/-->
    <!--/*@thymesVar id="multiple" type=""*/-->
    <div class="form-group" th:classappend="${horizontal} ? 'row' :''">
        <label th:replace=":: commonControlLabelFragment">
        </label>
        <select class="form-control col selectpicker" th:name="${id}" th:id="${id}" multiple>
            <option th:each="option : ${options}" th:value="${option}" th:text="${option}"
                    th:selected="${option == value}"></option>
        </select>
    </div>
</th:block>
<!-- Common Select Field-->
<th:block th:fragment="selectFieldAllowEmpty (id, options, value, text, horizontal)">
    <!--/*@thymesVar id="text" type=""*/-->
    <!--/*@thymesVar id="id" type=""*/-->
    <!--/*@thymesVar id="value" type=""*/-->
    <!--/*@thymesVar id="options" type=""*/-->
    <!--/*@thymesVar id="horizontal" type=""*/-->
    <div class="form-group" th:classappend="${horizontal} ? 'row' :''">
        <label th:replace=":: commonControlLabelFragment">
        </label>
        <select class="form-control col" th:name="${id}" th:id="${id}">
            <option th:selected="${value == null}"></option>
            <option th:each="option : ${options}" th:value="${option}" th:text="${option}"
                    th:selected="${option == value}"></option>
        </select>
    </div>
</th:block>
<!-- Common number Field -->
<th:block th:fragment="numberField (id, value, step, text, horizontal)">
    <!--/*@thymesVar id="horizontal" type=""*/-->
    <!--/*@thymesVar id="id" type=""*/-->
    <!--/*@thymesVar id="text" type=""*/-->
    <!--/*@thymesVar id="value" type=""*/-->
    <!--/*@thymesVar id="step" type=""*/-->
    <div class="form-group" th:classappend="${horizontal} ? 'row' :''">
        <label th:replace=":: commonControlLabelFragment">
        </label>
        <input class="form-control col" th:id="${id}" th:name="${id}" type="number"
               th:value="${value} != null ? ${value}: 0" th:step="${step}"/>
    </div>
</th:block>
<!-- Common Date Field -->
<th:block th:fragment="dateField (id, value, text, horizontal)">
    <!--/*@thymesVar id="horizontal" type=""*/-->
    <!--/*@thymesVar id="id" type=""*/-->
    <!--/*@thymesVar id="text" type=""*/-->
    <!--/*@thymesVar id="value" type=""*/-->
    <!--/*@thymesVar id="step" type=""*/-->
    <div class="form-group" th:classappend="${horizontal} ? 'row' :''">
        <label th:replace=":: commonControlLabelFragment">
        </label>
        <input class="form-control col" th:id="${id}" th:name="${id}" type="date"
               th:value="${value}"/>
    </div>
</th:block>

<!-- END FORM FIELDS-->


<!--/*@thymesVar id="returnedError" type="java.lang.String"*/-->
<!--/*@thymesVar id="id" type="java.lang.String"*/-->
<div th:fragment="errorComponent(id)" th:id="${id}" class="alert alert-danger fade" role="alert"
     th:classappend="${returnedError == null || returnedError.empty} ? '' : 'show'">
    <th:block th:if="${returnedError != null}"
              th:text="${returnedError}">

    </th:block>
</div>

<!-- Dynamic Select-->
<th:block th:fragment="dynamicSelect(id, value, url, jsonFieldToShow, classAppend, requestParamName)">
    <!--/*@thymesVar id="classAppend" type="java.lang.String"*/-->
    <!--/*@thymesVar id="text" type="java.lang.String"*/-->
    <!--/*@thymesVar id="value" type="java.lang.Object"*/-->
    <!--/*@thymesVar id="jsonFieldToShow" type="java.lang.String"*/-->
    <!--/*@thymesVar id="url" type="java.lang.String"*/-->
    <!--/*@thymesVar id="requestParamName" type="java.lang.String"*/-->
    <th:block th:replace=" :: dynamicSelectFull(${id}, ${value}, ${value}, ${url}, ${jsonFieldToShow}, ${classAppend}, ${requestParamName})"/>
</th:block>

<th:block th:fragment="dynamicSelectFull(id, value, text, url, jsonFieldToShow, classAppend, requestParamName)">
    <!--/*@thymesVar id="classAppend" type="java.lang.String"*/-->
    <!--/*@thymesVar id="text" type="java.lang.String"*/-->
    <!--/*@thymesVar id="value" type="java.lang.Object"*/-->
    <!--/*@thymesVar id="url" type="java.lang.String"*/-->
    <select th:id="${id}" th:name="${id}" class="selectpicker" th:classappend="${classAppend !=null ? classAppend : ''}"
            data-show-subtext="true" data-live-search="true" th:data-search-url="${url}" th:title="#{common.nothingSelected}">
        <option></option>
        <option th:if="${value != null}" class="font-italic font-weight-bold" th:value="${value}" th:text="${text}"
                selected></option>
    </select>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function () {
            dynamicAjaxSelect({
                component: $([[${'#' + id}]]),
                propertyName: [[${jsonFieldToShow}]],
                propertyValue: [[${jsonFieldValue}]],
                currentValue: [[${value}]],
                currentText: [[${text}]],
                requestParamName: [[${requestParamName}]]
            });
            $('.selectpicker').selectpicker('render');
        })
        /*]]>*/
    </script>
</th:block>

<!--LOADER TEMPLATE -->
<template th:fragment="loaderTemplateFragment" id="loader-template">
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading</span>
        </div>
    </div>
</template>
</body>
</html>
