<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<th:block th:fragment = "header">
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="navbar-toggler-icon"></span>
    </button> <a class="navbar-brand" href="#" th:href="@{/}">GesTa</a>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/project/search}" th:text="#{project.title.search}">Link</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/issue/search}" th:text="#{issue.title.search}"></a>
            </li>
        </ul>
        <form class="form-inline" method="get" th:action="@{/issue/search}">
            <input class="form-control mr-sm-2" type="text" name="id" />
            <button class="btn btn-primary my-2 my-sm-0" type="submit">
                Search
            </button>
        </form>

        <ul class="navbar-nav ml-md-auto mr-md-5">
            <th:block th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item active">
                <!--
                <li class="nav-item active">
                    <a class="nav-link" th:text="#{user.title.myIssues}"
                       th:href="@{/issue/search(assignedToNameOrEmail =${#authentication.getName()} )}">
                        My Issues
                    </a>
                </li>-->
                <div class="dropdown show">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="user-actions" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" th:text="${#authentication.getName()}">
                        Dropdown link
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#" th:href="@{/profile}">My Profile</a>
                        <a class="dropdown-item" th:href="@{/time-logs}" th:text="#{timeLog.title.myTimeLogs}"></a>
                        <a class="dropdown-item" th:href="@{/admin/panel}" th:text="#{admin.title.controlPanel}"
                           th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"></a>
                        <a class="dropdown-item" href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true">
                                </span>
                            &nbsp;Logout
                        </a>
                    </div>
                </div>
            </th:block>
            <li th:if="${#authorization.expression('isAuthenticated()')}">
                <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}">
                </form>
            </li>

            <div class="dropdown show"
                 th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="language-selector" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="#{common.language}">
                    Dropdown link
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#"
                       th:href="@{${urlBuilder.replaceQueryParam('lang', 'en').toUriString()}}">English</a>
                    <a class="dropdown-item" href="#"
                       th:href="@{${urlBuilder.replaceQueryParam('lang', 'es').toUriString()}}">Castellano</a>
                    <a class="dropdown-item" href="#"
                       th:href="@{${urlBuilder.replaceQueryParam('lang', 'gl').toUriString()}}">Galego</a>
                </div>
            </div>

        </ul>
    </div>
</nav>
<template th:replace="fragments/Components :: loaderTemplateFragment"></template>
</template>
</th:block>

</body>
</html>