<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ResultTables</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<!-- PROJECT TABLE -->
<!--/*@thymesVar id="class" type="java.lang.String"*/-->
<!--/*@thymesVar id="projects" type="java.util.List"*/-->
<!--/*@thymesVar id="selectType" type="es.udc.fic.gesta.app.web.utils.SelectType"*/-->
<table class="table" th:fragment="projectTable(projects, class, selectType)" th:classappend="${class}">
    <thead>
    <tr>
        <th th:text="#{project.id}"></th>
        <th th:text="#{project.name}"></th>
        <th th:text="#{project.leader.name}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${projects.size() == 0}">
        <td colspan="2" th:text="#{project.noProjectsFound}"> No projects found</td>
    </tr>
    <tr th:each="projectDetails : ${projects}">
        <!--/*@thymesVar id="projectDetails" type="es.udc.fic.gestamodel.service.project.ProjectDetails"*/-->
        <th>
            <a class="hyperlink result-details-lnk" th:data-result-id="${projectDetails.projectID}"
               th:href="@{/project/details/{id}(id=${projectDetails.projectID})}"
               th:text="${projectDetails.projectID}"></a>
        </th>
        <td>
            <a class="hyperlink result-details-lnk" th:data-result-id="${projectDetails.projectID}"
               th:href="@{/project/details/{id}(id=${projectDetails.projectID})}"
               th:text="${projectDetails.projectName}"></a>
        </td>
        <td>
            <a class="hyperlink"
               th:href="@{/profile/{id}(id=${projectDetails.projectLeader.id})}"
               th:text="${projectDetails.projectLeader.fullName}"></a>
        </td>
        <td th:if="${selectType != null}">
            <button class="btn btn-secondary select-project-btn"
                    th:text="#{common.select}"></button>
        </td>
    </tr>
    </tbody>
</table>

<!-- Issue Table -->
<!--/*@thymesVar id="tableId type="java.lang.String"*/-->
<!--/*@thymesVar id="issues" type="java.util.List"*/-->
<!--/*@thymesVar id="classAppend" type="java.lang.String"*/-->
<table class="table" th:fragment="issueTable(tableId, issues, classAppend)" th:id="${tableId}"
       th:classappend="${classAppend}">
    <thead>
    <tr>
        <th:block th:unless="${issues == null || issues.isEmpty()}">
        <th th:text="#{issue.issueID}"></th>
        <th th:text="#{issue.summary}"></th>
        <th class="d-none d-sm-table-cell" th:text="#{issue.type}"></th>
        <th th:text="#{issue.assignedTo}"></th>
        </th:block>
        <th th:if="${issues == null || issues.isEmpty()}" th:text="#{common.empty.issues}"></th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="issue" type="es.udc.fic.gestamodel.service.issue.IssueDetails"*/-->
    <tr th:each="issue : ${issues}">
        <td class="col-auto"><a th:text="${issue.issueID}" th:href="@{/issue/details/{id}(id = ${issue.issueID})}"></a></td>
        <td class="col-6" th:text="${issue.summary}" style="word-break: break-all;"></td>
        <td class="col-auto d-none d-sm-table-cell" th:text="${issue.issueType}"></td>
        <td class="col-auto">
            <a th:text="${issue.assignedUser.fullName}"
               th:href="@{/profile/{id}(id = ${issue.assignedUser.id})}"></a>
        </td>
        <!--/*@thymesVar id="selectIssue" type="java.lang.Boolean"*/-->
        <!--/*@thymesVar id="selectIssueBtnText" type="java.lang.String"*/-->
        <td th:if="${selectIssue}">
            <form method="post" th:action="${selectIssueAction}">
                <input name="issue" type="hidden" th:value="${issue.issueID}">
                <button type="submit" class="btn btn-secondary select-issue-btn" th:data-issue-id="${issue.issueID}"
                        th:text="${selectIssueBtnText != null} ? ${selectIssueBtnText} : #{common.select}"></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<!-- Common Page -->
<!--/*@thymesVar id="pageNumbers" type="java.util.List<java.lang.Integer>"*/-->
<!--/*@thymesVar id="resultPage" type="org.springframework.data.domain.Page"*/-->
<!--/*@thymesVar id="baseUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="url" type="java.lang.String"*/-->
<nav th:fragment="resultPageSelector(resultPage,baseUrl)" aria-label="Page navigation"
     th:with="url= ${T(es.udc.fic.gesta.app.web.utils.WebUtils).
                createUrlWithoutPage(baseUrl,#request.getParameterMap())}"
     th:if="${resultPage.totalPages > 1}">
    <ul class="pagination">
        <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, resultPage.totalPages)}"
            th:classappend="${pageNumber == resultPage.number + 1} ? active">
            <!--/*@thymesVar id="url" type="java.lang.String"*/-->
            <a class="page-link"
               th:href="@{${url}(page=${pageNumber})}"
               th:text="${pageNumber}">
            </a>
        </li>
    </ul>
</nav>
</body>
</html>