<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${issueDetails.issueID + ' ' + #messages.msg('issue.title.addWatchers')}">add-watcher</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
    <th:block th:replace="fragments/Components :: importBootstrapSelect"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container col-lg-5">
    <br/>
    <!--/*@thymesVar id="isAjaxCall" type="java.lang.Boolean"*/-->
    <div th:fragment="addWatcherFragment" th:classappend="${isAjaxCall} ? '' : 'card'">
        <!--/*@thymesVar id="returnedError" type="java.lang.String"*/-->
        <div id="errormsg" class="alert alert-danger row" role="alert"
             th:styleappend="${returnedError != null && !returnedError.empty} ? '' : 'display: none'">
            <th:block th:if="${returnedError != null}"
                      th:text="${returnedError}">
            </th:block>
        </div>
        <form class="d-flex justify-content-center" method="post"
              th:action="@{/issue/{id}/add-watcher(id=${issueDetails.issueID})}">
            <fieldset class="col">
                <legend th:unless="${isAjaxCall}"
                        th:text="${issueDetails.issueID + ' ' + #messages.msg('issue.title.addWatchers')}"></legend>
                <div class="form-group col">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <button class="btn btn-secondary" th:data-action="@{/user/search(selectUser=true)}"
                                    data-target="#search-user-modal" data-toggle="modal"
                                    id="add-user" th:text="#{common.search}" type="button"></button>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-success" th:text="#{common.confirm}"></button>
                        </div>
                    </div>
                    <div th:with="jsonFieldValue = 'id'" class="row mt-3">
                        <select id="select-watcher" th:replace="fragments/Components ::
                            dynamicSelect('select-watcher',null, @{/user/getUsers(project=${issueDetails.projectID})},
                            'fullName', 'col-10', 'user')"></select>
                        <button type="button" id="add-watcher-btn"
                                class="col-auto btn btn-outline-primary font-weight-bold">+</button>
                        <script th:inline="javascript" type="application/javascript">
                            /*<![CDATA[*/
                            $(function () {
                                $("#add-watcher-btn").on("click", function (e) {
                                    e.preventDefault();
                                    var obj = $("#select-watcher");
                                    addUser(obj.val(), obj.text());
                                    obj.selectpicker('val', "default");
                                    return false;
                                });
                            });
                            /*]]>*/
                        </script>
                    </div>
                </div>
                <hr/>
                <div>
                    <div id="watchers-input">
                        <!--/*@thymesVar id="user" type="es.udc.fic.gestamodel.service.user.UserProfileDTO"*/-->
                        <div th:each="user : ${addedWatchers}" class="row justify-content-between" th:id="'user-'+${user.id}">
                            <input class="form-control" name="watchers" type="hidden" th:value="${user.id}">
                            <input class="form-control-plaintext col" th:value="${user.fullName}">
                            <div class="col-auto">
                                <button type="button" class="btn btn-danger" onclick="removeUser(this)">remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>

        <div th:replace="fragments/Components :: modal(id='search-user-modal', title=#{user.title.search})"></div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            $(function () {
                openModalWindowOnAction({
                    component: $("#add-user"),
                    action: "click",
                    modalId: "#search-user-modal"
                });
            });
            /*]]>*/
            function selectUser(obj) {
                var id = $(obj).data("id");
                var fullName = $(obj).data("fullname");
                addUser(id, fullName);
                $('#search-user-modal').modal('toggle');
            }
            function addUser(id, fullName) {
                var divId = "user-" + id;
                if ($("#" + divId).length) {
                    return;
                }
                var remove = "remove";
                var newElement = "<div class='row justify-content-between' id=" + divId +">";
                newElement += "<input class=\"form-control\" name=\"watchers\" type=\"hidden\"" +
                    "value='"+ id +"'>";
                newElement += "<span class='form-control-plaintext col'>" + fullName + "</span>";
                newElement += "<div class='col-auto'>" +
                    "<button type='button' class='btn btn-danger' onclick='removeUser(this)'>" + remove + "</button>" +
                    "</div>" +
                    "</div>";
                $("#watchers-input").append(newElement);
            }

            function removeUser(obj) {
                $(obj).parent().parent().remove();
            }
        </script>
    </div>
</div>
</body>
</html>