<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>attach</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" th:with="title = #{issue.title.attach}" th:text="${issue_id + ' - ' + title}"></h4>
        </div>
        <div class="card-body">
            <th:block th:fragment="attachFileFragment">
                <form class="form" id="attach-file-form" method="post" enctype="multipart/form-data"
                      th:action="@{/issue/{id}/attach(id=${issue_id})}">
                    <div class="row">
                        <label class="col-auto" for="file-input" th:text="#{issue.title.attach}"></label>
                        <input class="col-auto" type="file" id="file-input" name="file"/>
                    </div>
                    <div class="row m-1">
                            <input class="col-auto btn btn-success" type="submit" value="Upload"/>
                    </div>
                </form>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>