<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:with="defaultTitle = #{issue.title.changeStatus}"
           th:text="${issueDetails.issueID + ' - ' + defaultTitle}">change-status</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
<div class="container col-lg-5">
    <div class="card">
        <div class="card-header" th:with="defaultTitle = #{issue.title.changeStatus}">
            <h5 class="card-title" th:text="${issueDetails.issueID + ' - ' + defaultTitle}"></h5>
        </div>
        <div class="card-body">
            <div class="col" th:fragment="changeStatusFragment">
                <p><th:block th:text="#{issue.title.currentState}"></th:block>
                    <span th:with="issueStatusClass = ${T(es.udc.fic.gesta.app.web.utils.WebUtils).getIssueStatusClass(issueDetails.issueStatus)}"
                                          class="text-white rounded p-2 col-auto"
                                          th:text="${#messages.msgOrNull('issue.status.'+ issueDetails.issueStatus)}"
                                          th:classappend="${issueStatusClass}">

                    </span>
                </p>
                <form class="form" id="change-state-form" method="post"
                      th:action="@{/issue/{issueId}/change-status(issueId= ${issueDetails.issueID})}">
                    <fieldset>
                        <div th:replace="fragments/Components ::
                            enumSelectField('status', ${statusOptions}, null,'issue.status.' ,#{issue.title.selectStatus}, true)">
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit" th:text="#{common.confirm}"></button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>