<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{issue.title.create}">Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
    <th:block th:replace="fragments/Components :: importBootstrapSelect"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container col-lg-5" th:fragment="createIssueFragment">
    <div class="card">
        <div class="card-header">
            <h5 th:text="#{issue.title.create}"></h5>
        </div>
        <div class="card-body">
            <div id="errormsg" class="alert alert-danger" role="alert"
                 th:styleappend="${param.returnedError != null} ? '' : 'display: none'">
                <th:block th:if="${param.returnedError != null}"
                          th:with="msg = ${#messages.msgOrNull(param.returnedError)}"
                          th:text="${msg != null ? msg : #messages.msgOrNull('error.unknown')}">

                </th:block>
            </div>
            <!--/*@thymesVar id="issueForm" type="es.udc.fic.gestamodel.util.IssueForm"*/-->
            <form class="form" id="create-issue-form" th:object="${issueForm}" th:action="@{/issue/create}"
                  method="post">
                <fieldset class="col">
                    <div id="error-msg" th:replace="fragments/Components :: errorComponent('error-msg')">
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-3" for="projectID" style="color: grey" th:text="#{project.id}">
                            Project Name</label>
                        <!--/*@thymesVar id="readOnlyProjectID" type="java.lang.Boolean"*/-->
                        <input class="form-control-plaintext col" id="projectID" name="projectID" type="text"
                               th:placeholder="#{project.id}" th:value="*{projectID}"
                               readonly>
                        <button class="btn btn-secondary ml-1 col-auto" th:if="(*{projectID} == null)"
                                th:data-action="@{/project/select}" data-target="#search-project-modal"
                                data-toggle="modal"
                                id="add-project" th:text="#{common.search}" type="button"></button>
                    </div>
                    <div th:replace="fragments/Components ::
                textField('summary',*{summary}, #{issue.summary}, #{issue.summary}, true, false)"></div>
                    <div th:replace="fragments/Components ::
                selectField('issueType', ${T(es.udc.fic.gesta.model.entities.issue.IssueType).values()},
                    *{issueType}, #{issue.type}, true)"></div>
                    <div th:replace="fragments/Components ::
                selectField('priority', ${T(es.udc.fic.gesta.model.entities.utils.Priority).values()},
                    *{priority}, #{issue.priority}, true)"></div>
                    <div th:replace="fragments/Components ::
                        numberField('estimatedHours', *{estimatedHours}, 0.5, #{issue.estimatedHours}, true)"></div>
                    <div class="form-group row" id="development-cycle-group"
                         th:styleappend="*{projectID != null} ? '' :'visibility: hidden'">
                        <label class="control-label col-3" for="developmentCycle" style="color: grey"
                               th:text="#{developmentCycle}">
                        </label>
                        <select id="developmentCycle" th:replace="fragments/Components ::
                            dynamicSelect('developmentCycle',*{developmentCycle},
                                @{/project/{id}/cyclesResult(id=*{projectID})}, 'name', 'col ml-n3', 'cycle')"></select>
                    </div>
                    <div th:with="jsonFieldValue = 'id'" class="form-group row" id="assign-form-group"
                         th:styleappend="*{projectID != null} ? '' :'visibility: hidden'">
                        <label class="control-label col-3" for="assignedTo" style="color: grey"
                               th:text="#{issue.assignedTo}">
                        </label>
                        <select id="assignedTo" th:replace="fragments/Components ::
                            dynamicSelect('assignedTo',*{assignedTo},
                                @{/user/getUsers(project=*{projectID})}, 'fullName', 'col ml-n3', 'user')"></select>
                        <button class="btn btn-secondary col-auto"
                                th:data-action="@{/project/{projectId}/users(selectUser=true, projectId = ${issueForm.projectID})}"
                                data-target="#search-user-modal" data-toggle="modal"
                                id="add-user" th:text="#{common.search}" type="button"></button>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-success ml-2" th:text="#{issue.title.create}"></button>
                    </div>
                </fieldset>
            </form>
            <script th:inline="javascript">
                /*<![CDATA[*/
                $(function () {
                    openModalWindowOnAction({
                        component: $("#add-user"),
                        action: "click",
                        modalId: "#search-user-modal",
                        override: true
                    });
                    openModalWindowOnAction({
                        component: $("#add-project"),
                        action: "click",
                        modalId: "#search-project-modal",
                        success: function () {
                            $("#search-project-modal-body").find(":button").on("click", function () {
                                $("#projectID").val($(this).parent().parent().find("a:first").text());
                                $("#assignedTo").val("");
                                $("#assignedUserEmail").text("");
                                var baseUrl = [[@{/project/}]];
                                var searchUserUrl = baseUrl;
                                searchUserUrl += $("#projectID").val() + "/users?selectUser=true";
                                $("#add-user").data("action", searchUserUrl);
                                $("#assign-form-group").css('visibility', 'visible');
                                $("#development-cycle-group").css('visibility', 'visible');
                                var searchCycle = baseUrl + $("#projectID").val() + "/cyclesResult";
                                var getUserUrl = [[@{/user/getUsers}]];
                                getUserUrl += "?project=" + $("#projectID").val();
                                $("#developmentCycle").data("search-url", searchCycle);
                                $("#assignedTo").data("search-url", getUserUrl);
                                $('#search-project-modal').modal('toggle');
                            });
                        }
                    });
                    ajaxSubmitFormPost({component: $("#create-issue-form"), errorComponent: $("#error-msg")});
                })
                ;

                /*]]>*/
                function selectUser(obj) {
                    $("#assignedTo")
                        .html("<option value='" + $(obj).data("id") + "' selected>" + $(obj).data("fullname") + "</option>")
                        .selectpicker('refresh');
                    $('select[name=assignedTo]').val($(obj).data("id"));
                    $('.selectpicker').selectpicker('refresh');
                    $('#search-user-modal').modal('toggle');
                }
            </script>


            <div th:replace="fragments/Components :: modal(id='search-user-modal', title=#{user.title.search})"></div>
            <div th:replace="fragments/Components :: modal(id='search-project-modal', title=#{project.title.search})"></div>
        </div>
    </div>
</div>
</body>
</html>