<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${issueDetails.issueID + ' ' + issueDetails.summary}">details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
    <th:block th:replace="fragments/Components :: importBootstrapSelect"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="card">
        <div id="issue-details-header" class="card-header">
            <div id="title">
                <a class="card-subtitle card-link" th:href="@{/project/details/{id}(id=${issueDetails.projectID})}"
                   th:text="${issueDetails.projectID}"></a>
                <div class="card-title row">
                    <h4 class="font-weight-bold col" >
                        [[${issueDetails.issueID}]] [[${issueDetails.summary}]]</h4>
                    <span th:with="issueStatusClass = ${T(es.udc.fic.gesta.app.web.utils.WebUtils).getIssueStatusClass(issueDetails.issueStatus)}"
                          class="text-white rounded p-2 col-auto"
                          th:text="${#messages.msgOrNull('issue.status.'+ issueDetails.issueStatus)}"
                          th:classappend="${issueStatusClass}"></span>
                </div>
            </div>
            <div id="issue-actions" class="row">
                <a class="card-link col-auto" id="edit-issue-lnk"
                   th:href="@{/issue/edit/{id}(id=${issueDetails.issueID})}"
                   th:text="#{issue.title.edit}"></a>
                <a class="card-link col-auto" id="log-time-lnk"
                   th:href="@{/issue/{id}/log-time(id=${issueDetails.issueID})}"
                   th:text="#{timeLog.title.logTime('')}"></a>
                <a class="card-link col-auto" id="view-timelogs-lnk"
                   th:href="@{/time-logs(issueId=${issueDetails.issueID})}"
                   th:text="#{timeLog.title.myTimeLogs}"></a>
                <a class="card-link col-auto" id="change-status-lnk"
                    th:href="@{/issue/{issueId}/change-status(issueId=${issueDetails.issueID})}"
                    th:text="#{issue.title.changeStatus}"></a>
                <a class="card-link col-auto" id="view-commits-lnk" th:if="${issueDetails.projectHasRepository}"
                   th:href="@{/issue/{issueId}/commits(issueId=${issueDetails.issueID})}"
                   th:text="#{git.commits}"></a>
            </div>
        </div>
        <div id="issue-details-body" class="card-body">
            <div id="issue-data">
                <div class="row justify-content-between">
                    <table class="table table-borderless col-3">
                        <tbody>
                        <tr>
                            <th th:text="#{issue.type} + ':'"></th>
                            <td th:text="${issueDetails.issueType}"></td>
                        </tr>
                        <tr>
                            <th th:text="#{issue.priority} + ':'"></th>
                            <td th:text="${issueDetails.priority}"></td>
                        </tr>
                        <tr>
                            <th th:text="#{issue.estimatedHours} + ':'"></th>
                            <td th:text="${issueDetails.estimatedHours}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless col-3">
                        <tbody>
                        <tr>
                            <th th:text="#{developmentCycle.short} + ':'"></th>
                            <td>
                                <a th:text="${issueDetails.developmentCycleDTO.name}"
                                   th:if="${issueDetails.developmentCycleDTO != null}"
                                   th:href="@{/project/{project_id}/cycle/{name}(project_id = ${issueDetails.projectID},name = ${issueDetails.developmentCycleDTO.name})}"
                                   ></a>
                                <th:block th:if="${issueDetails.developmentCycleDTO == null}">-</th:block>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{issue.startDate} + ':'"></th>
                            <td th:text="${issueDetails.startDate != null} ? ${issueDetails.startDate} : '-'"></td>
                        </tr>
                        <tr>
                            <th th:text="#{issue.endDate} + ':'"></th>
                            <td th:text="${issueDetails.endDate != null} ? ${issueDetails.endDate} : '-'"></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless col-6">
                        <tbody>
                        <tr>
                            <th th:text="#{issue.assignedTo} +':'"></th>
                            <td>
                                <a th:if="${issueDetails.assignedUser != null}"
                                   th:text="${issueDetails.assignedUser.fullName}"
                                   th:href="@{/profile/{id}(id=${issueDetails.assignedUser.id})}"></a>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{issue.createdBy} + ':'"></th>
                            <td>
                                <a th:if="${issueDetails.creator != null}"
                                   th:text="${issueDetails.creator.fullName}"
                                   th:href="@{/profile/{id}(id=${issueDetails.creator.id})}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <a class="col-auto" id="add-watcher-lnk"
                       th:href="@{/issue/{id}/add-watcher(id=${issueDetails.issueID})}"
                       th:text="#{issue.title.addWatchers}">Add Watchers</a>
                    <a class="col-auto" id="view-watchers-lnk" th:href="@{/issue/{id}/watchers(id=${issueDetails.issueID})}"
                       th:text="#{issue.btn.viewWatchers}"></a>
                </div>
                <hr/>
                <div class="row">
                    <span class="col font-weight-bold" th:text="#{issue.description} + ':'"></span>
                </div>
                <div class="row">
                    <span class="col" th:text="${issueDetails.description != null? issueDetails.description:''}"></span>
                </div>
            </div>
            <hr/>
            <div id="attached-files-div">
                <div class="row">
                    <span class="col-auto font-weight-bold" th:text="#{issue.attachedFiles} + ':'"></span>
                    <a id="attach-file-lnk" class="col-auto btn btn-outline-primary font-weight-bold py-0"
                       th:href="@{/issue/{id}/attach(id=${issueDetails.issueID})}">+</a>
                </div>
                <div class="row mt-1"
                     th:if="${issueDetails.attachedFileDTOList != null && !issueDetails.attachedFileDTOList.isEmpty()}">
                    <div class="col">
                        <table class="table table-sm">
                            <tbody>
                            <tr th:each="attachedFileDTO : ${issueDetails.attachedFileDTOList}">
                                <td>
                                    <a th:text="${attachedFileDTO.fileName}"
                                       th:href="@{/issue/{issueId}/file/{fileName}
                                        (issueId = ${issueDetails.issueID}, fileName = ${attachedFileDTO.fileName})}"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr/>
            <div>
                <form class="form" id="add-comment-form" method="post"
                      th:action="@{/issue/comment/{id}(id=${issueDetails.issueID})}">
                    <!--/*@thymesVar id="addCommentError" type="java.lang.String"*/-->
                    <div id="commentErrorMsg" class="alert alert-danger" role="alert"
                         th:styleappend="${addCommentError != null && !addCommentError.isEmpty()} ? '' : 'display: none'">
                        <th:block th:if="${addCommentError != null}"
                                  th:text="${addCommentError}">
                        </th:block>
                    </div>
                    <fieldset>
                        <div th:replace="fragments/Components ::
                            textAreaField('commentContent', '', #{issue.comments}, 3)"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info" th:text="#{common.comment}"></button>
                        </div>
                    </fieldset>
                    <script th:inline="javascript" type="application/javascript">
                        /*<![CDATA[*/
                        $(function () {
                            ajaxSubmitFormPost({
                                component: $("#add-comment-form"),
                                errorComponent: $("#commentErrorMsg"),
                                success: function (data) {
                                    $("#comments-section").html(data);
                                    $("#commentContent").val("");
                                }
                            });
                        });

                        /*]]>*/
                    </script>

                </form>
                <div id="comments-section">
                    <th:block th:fragment="commentsSection">
                        <div class="card border-dark mb-3" th:each="comment : ${commentsPage.content}">
                            <!--/*@thymesVar id="comment" type="es.udc.fic.gestamodel.service.dto.CommentDTO"*/-->
                            <div class="card-header">
                                <span class="mr-auto" th:text="${comment.commentedBy.fullName}"></span>
                                <span class="float-right" th:text="${#dates.format(comment.commentDate,'dd-MMM-yy HH:mm')}"></span>
                            </div>
                            <div class="card-body">
                                <span th:text="${comment.content}"></span>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <script th:inline="javascript" type="application/javascript">
            /*<![CDATA[*/
            $(function () {
                openModalWindowOnAction({
                    component: $("#view-watchers-lnk"),
                    action: "click",
                    modalId: "#watchers-modal",
                    override: true
                });
                openModalWindowOnAction({component: $("#add-watcher-lnk"), action: "click", modalId: "#add-watchers-modal"})
                openModalWindowOnAction({
                    component: $("#edit-issue-lnk"),
                    action: "click",
                    modalId: "#common-modal",
                    modalSize:"modal-lg",
                    modalTitle: [[#{issue.title.edit}]],
                    override: true
                });
                openModalWindowOnAction({
                    component: $("#log-time-lnk"),
                    action: "click",
                    modalId: "#log-time-modal"
                });
                openModalWindowOnAction({
                    component: $("#view-timelogs-lnk"),
                    action: "click",
                    modalId: "#common-modal",
                    modalTitle: [[#{timeLog.title.myTimeLogs}]],
                    override: true,
                    modalSize:"modal-xl",
                    success: function () {
                        $("#time-logs-header").hide();
                        $('.selectpicker').selectpicker('render');
                    }
                });
                openModalWindowOnAction({
                    component: $("#change-status-lnk"),
                    action: "click",
                    modalId: "#common-modal",
                    modalSize:"modal-md",
                    modalTitle: [[#{issue.title.changeStatus}]],
                    override: true
                });
                openModalWindowOnAction({
                    component: $("#view-commits-lnk"),
                    action: "click",
                    modalId: "#common-modal",
                    modalSize:"modal-lg",
                    modalTitle: [[#{git.commits}]],
                    override: true
                });
                openModalWindowOnAction({
                    component: $("#attach-file-lnk"),
                    action: "click",
                    modalId: "#common-modal",
                    modalSize:"modal-md",
                    modalTitle: [[#{issue.title.attach}]],
                    override: true
                });
            });
            /*]]>*/
        </script>
        <div th:replace="fragments/Components :: modal(id='watchers-modal', title=#{issue.title.viewWatchers})"></div>
        <div th:replace="fragments/Components :: modal(id='add-watchers-modal', title=#{issue.title.addWatchers})"></div>
        <div th:replace="fragments/Components :: modal(id='log-time-modal', title=#{timeLog.title.logTime(${issueDetails.issueID})})"></div>
        <div th:replace="fragments/Components :: modal(id='common-modal', title=#{timeLog.title.myTimeLogs}, modalSize = 'modal-lg')"></div>

    </div>
</div>
</body>
</html>