<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${#messages.msg('issue.title.edit') + ' ' + issueId}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
    <th:block th:replace="fragments/Components :: importBootstrapSelect"></th:block>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container col-lg-5">
    <div class="card">
        <!--/*@thymesVar id="isAjaxRequest" type="java.lang.Boolean"*/-->
        <div class="card-header">
            <h4 class="card-title" th:text="${#messages.msg('issue.title.edit') + ' ' + issueId}"></h4>
        </div>
        <div class="card-body" th:fragment="editIssueForm">
            <div th:replace="fragments/Components :: errorComponent('error-msg')"></div>
            <form class="form" id="edit-issue-form" th:object="${issueForm}" method="post"
                  th:action="@{/issue/edit/{id}(id=${issueId})}">
                <fieldset>
                    <input id="projectID" name="projectID" th:value="*{projectID}" type="hidden" readonly>
                    <div th:replace="fragments/Components ::
                        textField('summary',*{summary}, #{issue.summary}, #{issue.summary}, true, false)"></div>
                    <div th:replace="fragments/Components ::
                        selectField('issueType', ${T(es.udc.fic.gesta.model.entities.issue.IssueType).values()},
                        *{issueType}, #{issue.type}, true)"></div>
                    <div th:replace="fragments/Components ::
                        selectField('priority', ${T(es.udc.fic.gesta.model.entities.utils.Priority).values()},
                        *{priority}, #{issue.priority}, true)"></div>
                    <div class="form-group row">
                        <label class="control-label col-3" for="developmentCycle" style="color: grey"
                               th:text="#{developmentCycle}">
                        </label>
                        <select id="developmentCycle" th:replace="fragments/Components ::
                            dynamicSelect('developmentCycle',*{developmentCycle},
                                @{/project/{id}/cyclesResult(id=*{projectID})}, 'name', 'col p-0', 'cycle')"></select>
                    </div>
                    <div th:replace="fragments/Components ::
                        numberField('estimatedHours', *{estimatedHours}, 0.5, #{issue.estimatedHours}, true)"></div>
                    <div th:with="jsonFieldValue = 'id'" class="form-group row">
                        <label class="control-label col-3" for="assignedTo" style="color: grey" th:text="#{issue.assignedTo}">
                        </label>
                        <select id="assignedTo" th:replace="fragments/Components ::
                            dynamicSelectFull('assignedTo',*{assignedTo}, ${assignedUser.fullName},
                                @{/user/getUsers(project=*{projectID})}, 'fullName', 'col ml-n3', 'user')"></select>
                        <button class="btn btn-secondary col-auto" th:data-action="@{/user/search(selectUser=true)}"
                                data-target="#search-user-modal" data-toggle="modal"
                                id="add-user" th:text="#{common.search}" type="button"></button>
                    </div>
                    <div th:replace="fragments/Components ::
                        textAreaField('description',*{description}, #{issue.description}, 3)"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info" th:text="#{issue.title.edit}"></button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function () {
            openModalWindowOnAction({
                component: $("#add-user"),
                action: "click",
                modalId: "#search-user-modal"
            });
            ajaxSubmitFormPost({
                component: $("#edit-issue-form"),
                errorComponent: $("#error-msg"),
                redirectTo: /*[['/issue/details/' + ${issueId}]]*/'',
            });
        })
        ;

        /*]]>*/
        function selectUser(obj) {
            $("#assignedTo")
                .html("<option value='"+ $(obj).data("id")+"'>"+ $(obj).data("fullname") +"</option>")
                .selectpicker('refresh');
            $('#search-user-modal').modal('toggle');
        }
    </script>

    <div th:replace="fragments/Components :: modal(id='search-user-modal', title=#{user.title.search})"></div>

</div>
</body>
</html>