<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>link-issues</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
    <th:block th:replace="fragments/Components :: importBootstrapSelect"></th:block>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title" th:text="${issueDetails.issueID +' - '+#messages.msgOrNull('issue.title.linkIssue')}"></h5>
        </div>
        <div class="card-body">
            <div class="col" th:fragment="linkIssuesFragment">
                <div th:replace="fragments/Components :: errorComponent('link-error')"></div>
                <form th:replace="issue/search :: searchIssueForm"></form>
                <div id="searchIssueResult">
                    <th:block th:fragment="linkIssuesResultFragment"
                              th:with="selectIssue = true,
                                selectIssueBtnText = #{issue.title.linkIssue},
                                selectIssueAction = @{/issue/{issueId}/link(issueId= ${issueDetails.issueID})}">
                        <table th:replace="fragments/ResultTables ::
                            issueTable('issue-table', ${issueDetailsPage.content}, 'table-bordered')"></table>
                        <!--/*@thymesVar id="pageNumbers" type="java.util.List<java.lang.Integer>"*/-->
                        <div id="issues-navigation"
                             th:with="baseUrl = ${'/issue/' + issueDetails.issueID + '/link'}">
                            <nav th:replace="fragments/ResultTables :: resultPageSelector(${issueDetailsPage}, ${baseUrl})">
                            </nav>
                            <script th:inline="javascript">
                                /*<![CDATA[*/
                                $(function () {
                                    ajaxNavigation("#issues-navigation", "#searchIssueResult", [[${baseUrl}]]);
                                });
                                /*]]>*/
                            </script>
                        </div>
                    </th:block>
                </div>
                <!--/*@thymesVar id="disableIssueSearchAjax" type="java.lang.Boolean"*/-->
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    $(function () {
                        ajaxSubmitFormGet({
                            component: $("#searchIssueForm"),
                            resultComponent: $("#searchIssueResult"),
                            url:[[${'/issue/' + issueDetails.issueID +'/link/issueResult'}]]
                        });
                    });
                    /*]]>*/
                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>