<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{timeLog.title.logTime(${issueId})}">log-time</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container card col-lg-5">
    <div class="card-header row">
        <h4 class="card-title" th:text="#{timeLog.title.logTime(${issueId})}"></h4>
    </div>
    <div class="card-body">
        <th:block th:fragment="logTimeFragment">
            <!--/*@thymesVar id="timeLogForm" type="es.udc.fic.gestamodel.util.form.TimeLogForm"*/-->
            <form id="log-time-form" method="post" th:action="@{/issue/{id}/log-time(id=${issueId})}"
                  th:object="${timeLogForm}">
                <fieldset>
                    <!--/*@thymesVar id="timeLogFormError" type="java.lang.String"*/-->
                    <div id="error-msg" class="alert alert-danger fade" role="alert"
                         th:classappend="${timeLogFormError == null || timeLogFormError.empty} ? '' : 'show'"
                         style="display: none">
                        <th:block th:if="${timeLogFormError != null}"
                                  th:text="${timeLogFormError}">

                        </th:block>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="issueId" name="issueId" th:value="${issueId}">
                    </div>
                    <div th:replace="fragments/Components ::
                    dateField ('date', *{date}, #{timeLog.date}, false)"></div>
                    <div th:replace="fragments/Components ::
                    numberField ('hours', *{hours}, 0.5, #{timeLog.hours}, false)"></div>
                    <div th:replace="fragments/Components ::
                    textField ('comment', *{comment}, #{timeLog.comment}, #{timeLog.comment}, false, false)"></div>
                    <div class="row">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-success" th:text="#{common.confirm}"></button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <script th:inline="javascript" type="application/javascript">
                /*<![CDATA[*/
                $(function () {
                    ajaxSubmitFormPost({component: $("#log-time-form"), errorComponent: $("#error-msg")});
                });
                /*]]>*/
            </script>
        </th:block>
    </div>
</div>
</body>
</html>