<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>
        <th:block th:href="@{/issue/details/{id}(id=${issue})}" th:text="${issue}"/> -
        <th:block th:text="#{issue.title.linkedIssues}"/>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                <a th:href="@{/issue/details/{id}(id=${issue})}" th:text="${issue}"></a> -
                <th:block th:text="#{issue.title.linkedIssues}"/>
            </h5>
        </div>
        <div class="card-body">
            <th:block th:fragment="relatedIssuesFragment">
                <div id="link-issues">
                    <a th:text="#{issue.title.linkIssue}" th:href="@{/issue/{id}/link(id=${issue})}"></a>
                </div>
                <div id="relates-to-issues" th:with="linkedIssues = ${relatedIssuesDTO.getIssuesLinkedTo()}">
                    <p class="font-weight-bold" th:text="#{issue.relatesTo}"></p>
                    <table class="table table-borderless table-sm" th:fragment="likedIssueTableFragment">
                        <tbody>
                        <!--/*@thymesVar id="linkedIssue" type="es.udc.fic.gestamodel.service.issue.IssueDetails"*/-->
                        <tr class="border-bottom" th:each="linkedIssue : ${linkedIssues}">
                            <td class="col-1">
                                <a th:href="@{/issue/details/{id}(id=${linkedIssue.issueID})}"
                                   th:text="${linkedIssue.issueID}"></a>
                            </td>
                            <td class="col-9" th:text="${linkedIssue.summary}"></td>
                            <!--/*@thymesVar id="message" type="java.lang.String"*/-->
                            <td class="col-auto rounded justify-content-center"
                                th:classappend="${T(es.udc.fic.gesta.app.web.utils.WebUtils).getIssueStatusClass(linkedIssue.issueStatus)}">
                            <p class="text-white text-center m-0"
                                  th:with="message = ${#messages.msgOrNull('issue.status.'+linkedIssue.issueStatus)}"
                                  th:text="${#strings.toLowerCase(message)}"></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="relates-by-issues" th:with="linkedIssues = ${relatedIssuesDTO.getIssuesLinkedFrom()}">
                    <p class="font-weight-bold" th:text="#{issue.relatedBy}"></p>
                    <table class="table table-borderless table-sm"
                           th:replace=":: likedIssueTableFragment">
                    </table>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>