<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{issue.title.search}">search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
    <th:block th:replace="fragments/Components :: importBootstrapSelect"></th:block>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br/>
<div class="container border border-light" th:fragment="">
    <div th:fragment="searchIssueFragment">
        <!--/*@thymesVar id="searchIssueForm" type="es.udc.fic.gestamodel.util.form.SearchIssueForm"*/-->
        <!--/*@thymesVar id="searchIssueAction" type="java.lang.String"*/-->
        <form class="form form-horizontal" id="searchIssueForm" method="GET"
              th:action="${searchIssueAction != null}
                    ? ${searchIssueAction}
                    : @{${#httpServletRequest.requestURI}}"
              th:object="${searchIssueForm}"
              th:fragment="searchIssueForm">
            <fieldset class="row">
                <legend class="col-auto" th:text="#{issue.title.search}"></legend>
                <div class="col-auto">
                    <div th:replace="fragments/Components ::
                            textField('id',*{id}, #{issue.issueID}, #{issue.issueID}, false, false)"></div>
                </div>
                <div class="col-lg-4">
                    <div th:replace="fragments/Components ::
                            textField('summary',*{summary}, #{issue.summary}, #{issue.summary}, false, false)"></div>
                </div>
                <div class="col-auto">
                    <div th:replace="fragments/Components ::
                            textField('assignedToNameOrEmail',*{assignedToNameOrEmail}, #{issue.assignedTo},
                            #{issue.assignedTo}, false, false)"></div>
                </div>
                <div class="col-auto" th:if="${searchIssueForm.projectId != null}">
                    <div class="form-group">
                        <label class="control-label" for="developmentCycle" style="color: grey"
                               th:text="#{developmentCycle}">
                        </label>
                        <div class="col">
                            <select id="developmentCycle" th:replace="fragments/Components ::
                                dynamicSelect('developmentCycle',*{developmentCycle},
                                    @{/project/{id}/cyclesResult(id=*{projectId})}, 'name', 'ml-n3', 'cycle')"></select>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div th:replace="fragments/Components ::
                            selectFieldAllowEmpty('issueType', ${T(es.udc.fic.gesta.model.entities.issue.IssueType).values()},
                            *{issueType}, #{issue.type}, false)"></div>
                </div>
                <div class="col-auto">
                    <label class="row">&nbsp;</label>
                    <button class="btn btn-primary mb-2 row" id="search-issue-btn" th:text="#{common.search}"
                            type="submit">
                    </button>
                </div>
            </fieldset>
        </form>
        <div id="searchIssueResult">
            <th:block th:fragment="issueSearchResultFragment">
                <table th:replace="fragments/ResultTables ::
                    issueTable('issue-table', ${issueDetailsPage.content}, 'table-bordered')"></table>
                <!--/*@thymesVar id="pageNumbers" type="java.util.List<java.lang.Integer>"*/-->
                <div id="issues-navigation"
                     th:with="baseUrl = ${searchIssueForm.projectId != null}
                        ? ${'/project/' + searchIssueForm.projectId + '/issues'}
                        : '/issue/search'">
                    <nav th:replace="fragments/ResultTables :: resultPageSelector(${issueDetailsPage}, ${baseUrl})">
                    </nav>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        $(function () {
                            ajaxNavigation("#issues-navigation", "#searchIssueResult", [[${baseUrl}]]);
                        });
                        /*]]>*/
                    </script>
                </div>
            </th:block>
        </div>
        <!--/*@thymesVar id="disableIssueSearchAjax" type="java.lang.Boolean"*/-->
        <script th:inline="javascript" th:unless="${disableIssueSearchAjax}">
            /*<![CDATA[*/
            $(function () {
                ajaxSubmitFormGet({component: $("#searchIssueForm"), resultComponent: $("#searchIssueResult")});
            });
            /*]]>*/
        </script>
    </div>
</div>
</body>
</html>