<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{issue.title.viewWatchers}">view-watchers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="card container col-lg-5">
    <div class="card-header">
        <h5 class="card-title" th:text="#{issue.title.viewWatchers}"></h5>
    </div>
    <div class="card-body">
        <form id="remove-watcher-form" method="post"
              th:action="@{/issue/{id}/remove-watcher(id=${issueId})}"
              th:fragment="viewWatchersFragment">
            <table class="table table-sm table-bordered">
            <thead>
            <tr>
                <th class="col-6" th:text="#{user.fullName}"></th>
                <th class="col-3" th:text="#{user.email}"></th>
                <th class="col-3" th:text="#{common.remove}"
                    th:if="${canRemoveWatchers || issueWatchers.contains(connectedUser)}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="watcher : ${issueWatchers}">
                <td class="col-6"><a th:href="@{/profile/{id}(id=${watcher.id})}" th:text="${watcher.fullName}"></a></td>
                <td class="col-3" th:text="${watcher.email}"></td>
                <td class="col-3 text-center" th:if="${canRemoveWatchers || watcher.equals(connectedUser)}">
                    <button th:unless="${watcher.equals(connectedUser)}" class="btn btn-danger" name="user"
                            th:value="${watcher.id}" type="submit" th:data-user="${watcher.id}">-
                    </button>
                    <button th:if="${watcher.equals(connectedUser)}" class="btn btn-danger" type="submit">-
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
            <script th:inline="javascript">
                /*<![CDATA[*/
                $(function () {
                   $("#remove-watcher-form").find(":button").on("click", function (e) {
                       e.preventDefault();
                       var removeForm = $("#remove-watcher-form");
                        var formData = removeForm.serializeArray();
                        var button = $(this);
                       formData.push({ name: "user", value: $(this).data("user")});
                       $.ajax({
                           url: removeForm.attr("action"),
                           cache: false,
                           method: "POST",
                           data: formData,
                           success: function (result) {
                               button.parent().parent().remove();
                           },
                           error: function (xhr, status, error) {
                           }

                       });

                       return false;
                   });
                });

                /*]]>*/
            </script>
        </form>
    </div>
</div>
</body>
</html>