<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{gesta.title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>

<body>

<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2 th:text="#{gesta.title}">
                    GesTa
                </h2>
                <p th:text="#{gesta.description}">
                    A Single Issue Tracker
                </p>
                <div class="row">
                    <div class="col-6">
                        <div class="card my-1">
                            <div class="card-header py-1">
                                <span class="card-title" th:text="#{project.title.projects}"></span>
                            </div>
                            <table th:replace="fragments/ResultTables ::
                                projectTable(${assignedProjects.content} , 'table-sm card-table', null)" ></table>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card my-1">
                            <div class="card-header py-1">
                                <div class="row justify-content-between">
                                    <span class="card-title col-auto my-0" th:text="#{issue.title.assignedIssues}"></span>
                                    <a class="card-lnk col-auto my-0" th:unless="${assignedIssues.isEmpty()}"
                                       th:href="@{/issue/search(assignedToNameOrEmail=${#authentication.name})}"
                                       th:text="#{common.viewAll}"></a>
                                </div>
                            </div>
                            <table th:replace="fragments/ResultTables ::
                                issueTable('assigned-issues', ${assignedIssues.content} , 'table-sm card-table mb-0')" ></table>
                        </div>
                        <div class="card my-1">
                            <div class="card-header py-1">
                                <span class="card-title" th:text="#{issue.title.watchedIssues}"></span>
                            </div>
                            <table th:replace="fragments/ResultTables ::
                                issueTable('watched-issues', ${watchedIssues.content} , 'table-sm card-table mb-0')" ></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>