<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{admin.title.controlPanel}">panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
    <th:block th:replace="fragments/Components :: importBootstrapSelect"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title" th:text="#{admin.title.controlPanel}"></h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-1">
                        <div class="card-header py-1">
                            <span class="card-title" th:text="#{project.title.projects}"></span>
                        </div>
                        <div class="card-body">
                            <a class="card-link" id="create-project-lnk"
                               th:text="#{project.title.create}" th:href="@{/project/create}"></a>
                            <a class="card-link" id="search-project-lnk" th:text="#{project.title.edit}"
                               th:href="@{/project/search}"></a>
                            <th:block th:if="${@environment.getProperty('gitlab.access-token') != null}">
                                <a class="card-link" id="assign-git-lnk" th:text="#{gitRepository.title.assign}"
                                   th:href="@{/project/search}"></a>
                                <script th:inline="javascript" type="application/javascript">
                                    /*<![CDATA[*/
                                    $(function () {
                                        openModalWindowOnAction({
                                            component: $("#assign-git-lnk"),
                                            action: "click",
                                            modalId: "#edit-project-modal",
                                            override: true,
                                            modalSize: 'modal-xl',
                                            success: function (data) {
                                                $("#edit-project-modal .result-details-lnk").on("click",function (e) {
                                                    e.preventDefault();
                                                    var url = [[@{/project/}]];
                                                    url += $(this).data('result-id');
                                                    url += "/assign-git";
                                                    document.location.href= url;
                                                });
                                            }
                                        });
                                    });
                                    /*]]>*/
                                </script>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header py-1">
                            <span class="card-title" th:text="#{common.title.users}"></span>
                        </div>
                        <div class="card-body">
                            <a class="card-link" id="create-user-lnk"
                               th:text="#{user.title.create}" th:href="@{/user/create}"></a>
                            <!--
                            <a class="card-link" id="search-user-lnk"
                               th:text="#{user.title.edit}" th:href="@{/user/search}"></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript" type="application/javascript">
        /*<![CDATA[*/
        $(function () {
            openModalWindowOnAction({
                component: $("#create-project-lnk"),
                action: "click",
                modalId: "#create-project-modal"
            });

            openModalWindowOnAction({
                component: $("#create-user-lnk"),
                action: "click",
                modalId: "#create-user-modal"
            });
            openModalWindowOnAction({
                component: $("#search-project-lnk"),
                action: "click",
                modalId: "#edit-project-modal",
                override: true,
                modalSize: 'modal-xl',
                success: function (data) {
                    openModalWindowOnAction({
                        component: $("#edit-project-modal .result-details-lnk"),
                        action: "click",
                        modalId: "#edit-project-modal",
                        override: true,
                        modalTitle: [[#{project.title.edit}]],
                        urlFunction: function (comp) {
                            return [[@{/project/edit/}]] + comp.data('result-id');
                        }
                    });
                }
            });
            openModalWindowOnAction({
                component: $("#search-user-lnk"),
                action: "click",
                modalId: "#edit-user-modal",
                override: true,
                modalSize: 'modal-xl',
                success: function (data) {
                    openModalWindowOnAction({
                        component: $("#edit-user-modal .result-details-lnk"),
                        action: "click",
                        modalId: "#edit-user-modal",
                        override: true,
                        modalTitle: [[#{user.title.edit}]]
                    });
                }
            });
        });
        /*]]>*/
    </script>
    <div th:replace="fragments/Components ::
        modal(id='create-project-modal', title=#{project.title.create})"></div>
    <div th:replace="fragments/Components ::
        modal(id='edit-project-modal', title=#{project.title.edit})"></div>
    <div th:replace="fragments/Components ::
        modal(id='create-user-modal', title=#{user.title.create})"></div>
    <div th:replace="fragments/Components ::
        modal(id='edit-user-modal', title=#{user.title.edit})"></div>
    <div th:replace="fragments/Components ::
        modal(id='common-modal', title='')"></div>

</div>
</body>
</html>