<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${developmentCycle.name}">details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <h5 class="card-title col font-weight-bold">
                    <a th:text="${developmentCycle.projectId}" href="#"
                        th:href="@{/project/details/{id}(id=${developmentCycle.projectId})}"></a>
                    -
                    <th:block th:text="${developmentCycle.name}"/>
                </h5>
            </div>
            <div class="row border-top">
                <a th:if="${projectHasGitRepository}" class="card-link col-auto" th:text="#{git.title.assignBranch}"
                    th:href="@{__${#httpServletRequest.requestURI}__/assign-branch}"></a>
                <th:block th:if="${developmentCycle.gitBranch}">
                    <a class="card-link col-auto" th:text="#{git.commits}" id="view-cycle-commits"
                       th:href="@{/project/{project_id}/cycle/{name}/commits(project_id=${project_id},name=${name})}"></a>
                </th:block>
            </div>
        </div>
        <div class="card-body" th:if="${developmentCycle.gitBranch}">
            <table class="table table-borderless">
                <tbody>
                <tr class="d-flex">
                    <th class="col-auto"><th:block th:text="#{git.branchName}"/> :</th>
                    <td class="col-auto">
                        <a th:text="${developmentCycle.gitBranch}"
                           th:href="${developmentCycle.getGitBranchUrl() + '/tree/' + developmentCycle.getGitBranch()}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
            <div id="cycle-issues">
                <table class="table card-table table-bordered mb-0">
                    <thead>
                    <tr class="d-flex">
                        <th class="col" th:text="#{cycle.title.issues}"></th>
                    </tr>
                    </thead>
                    <thead>
                    <tr class="d-flex">
                        <th class="col-2" th:text="#{issue.issueID}"> Issue Id</th>
                        <th class="col-6" th:text="#{issue.summary}"> Email</th>
                        <th class="col-4" th:text="#{issue.assignedTo}"> Assigned To</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="d-flex" th:each="issue : ${developmentCycle.issueList}">
                        <td class="col-2">
                            <a th:text="${issue.issueID}"
                               th:href="@{/issue/details/{id}(id=${issue.issueID})}"></a>
                        </td>
                        <td class="col-6" th:text="${issue.summary}"></td>
                        <td class="col-4">
                            <a th:text="${issue.assignedUser.fullName}"
                               th:href="@{/profile/{id}(id=${issue.assignedUser.id})}"></a>
                        </td>
                    </tr>
                    <tr class="d-flex" th:if="${developmentCycle.issueList == null || developmentCycle.issueList.empty}">
                        <th class="col" th:text="#{issue.msg.empty}"></th>
                    </tr>
                    </tbody>
                </table>
            </div>
    </div>
    <script th:inline="javascript" type="application/javascript">
        /*<![CDATA[*/
        $(function () {
            openModalWindowOnAction({
                component: $("#view-cycle-commits"),
                action: "click",
                modalId: "#edit-project-modal",
                override: true
            });
        });
        /*]]>*/
    </script>
    <div th:replace="fragments/Components ::
        modal(id='edit-project-modal', title=#{git.commits}, modalSize = 'modal-lg')"></div>
</div>
</body>
</html>