<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:with="assignRepoMessage = #{gitRepository.title.assign}"
           th:text="${projectDetails.getProjectID() + ' - ' + assignRepoMessage}">assign-git</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container col-lg-5">
    <br>
    <div class="card" th:fragment="assignFragment">
        <div class="card-header">
            <h5 class="card-title" th:with="assignRepoMessage = #{gitRepository.title.assign}"
                th:text="${projectDetails.getProjectID() + ' - ' + assignRepoMessage}"></h5>
        </div>
        <div class="card-body">
            <!--/*@thymesVar id="gitRepositoryForm" type="es.udc.fic.gestamodel.util.form.GitRepositoryForm"*/-->
            <a class="btn btn-secondary" id="assign-repo-search-btn" th:text="#{common.search}"
               th:href="@{/project/{project_id}/assign-git/search(project_id=${id})}"></a>
            <hr>
            <form id="assign-git-form" th:object="${gitRepositoryForm}" method="post"
                  th:action="@{/project/{id}/assign-git(id=${projectDetails.getProjectID()})}">
                <fieldset>
                    <div th:replace="fragments/Components ::
                        textField('repositoryId', *{repositoryId}, #{gitRepository.id}, #{gitRepository.id}, true, false)"></div>
                    <div th:replace="fragments/Components ::
                        textField('name', *{name}, #{gitRepository.name}, #{gitRepository.name}, true, false)"></div>
                    <div th:replace="fragments/Components ::
                        textField('url', *{url}, #{gitRepository.url}, #{gitRepository.url}, true, false)"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success col-auto" th:text="#{common.confirm}"></button>
                    </div>
                </fieldset>
            </form>
        </div>
        <script th:inline="javascript" type="application/javascript">
            $(function () {
                openModalWindowOnAction({
                    component: $("#assign-repo-search-btn"),
                    action: "click",
                    modalId: "#repo-search-modal",
                    override : true
                });
            });
        </script>
        <div th:replace="fragments/Components :: modal(id='repo-search-modal', title=#{git.title.repositories})"></div>
    </div>
</div>
</body>
</html>