<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{project.title.assign}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
    <th:block th:replace="fragments/Components :: importBootstrapSelect"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
<div class="container col-lg-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title" th:text="#{project.title.assign}">Assign Project</h5>
        </div>
        <div class="card-body">
            <div th:fragment="assignProjectFragment">
                <div id="errormsg" class="alert alert-danger" role="alert"
                     th:styleappend="${param.returnedError != null} ? '' : 'display: none'">
                    <div th:if="${param.returnedError != null}" th:remove="tag"
                         th:with="msg = ${#messages.msgOrNull(param.returnedError)}"
                         th:text="${msg != null ? msg : #messages.msgOrNull('error.unknown')}">
                    </div>
                </div>
                <!--/*@thymesVar id="assignProjectForm" type="es.udc.fic.gesta.app.web.controller.project.form.AssignProjectForm"*/-->
                <form id="assignProjectForm" class="form" th:object="${assignProjectForm}" method="post"
                      th:action="@{${assignProjectForm.projectID == null}
                        ? '/project/assign' : '/project/assign/'
                        + ${assignProjectForm.projectID}}">

                    <fieldset>
                        <div class="form-group col" id="project-form-group">
                            <label class="control-label" for="projectID" style="color: grey" th:text="#{project.id}">
                                Project Name</label>
                            <div class="row" th:with="isReadOnly = ${readOnlyProjectID != null && readOnlyProjectID}">
                                <!--/*@thymesVar id="readOnlyProjectID" type="java.lang.Boolean"*/-->
                                <input class="form-control col" id="projectID" name="projectID" type="text"
                                       th:placeholder="#{project.id}" th:value="*{projectID}"
                                       th:readonly="${isReadOnly}"
                                       th:class="(${isReadOnly}) ? 'form-control-plaintext col': 'form-control col-8 mx-3'">
                                <button class="btn btn-secondary" data-target="#search-project-modal" data-toggle="modal"
                                        id="add-project" th:data-action="@{/project/select}"
                                        th:text="#{common.search}" type="button" th:if="${!isReadOnly}"></button>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label class="control-label" for="assignToDiv" style="color: grey"
                                   th:text="#{project.assignTo}">
                                Project Name</label>
                            <div class="row">
                                <div th:with="jsonFieldValue = 'id'" class="col">
                                    <select id="select-assigned-user" th:replace="fragments/Components ::
                                        dynamicSelect('select-assigned-user', null,
                                            @{/user/getUsers}, 'fullName', 'col-8 ml-n3', 'user')"></select>
                                    <button type="button" id="add-user-btn"
                                            class="col-auto btn btn-outline-primary font-weight-bold">+</button>
                                    <script th:inline="javascript" type="application/javascript">
                                        /*<![CDATA[*/
                                        $(function () {
                                            $("#add-user-btn").on("click", function (e) {
                                                e.preventDefault();
                                                var obj = $("#select-assigned-user");
                                                if(obj.val()){
                                                    addUser(obj.val(), obj.text());
                                                    obj.selectpicker('val', "default");
                                                }
                                                return false;
                                            });
                                        });
                                        /*]]>*/
                                    </script>
                                    <button class="btn btn-secondary ml-2" data-target="#search-user-modal" data-toggle="modal"
                                            id="add-user" th:data-action="@{/user/search(selectUser=true)}"
                                            th:text="#{common.search}" type="button"></button>
                                </div>
                            </div>
                            <hr>
                            <div class="col">
                                <div id="assignToDiv">
                                    <!--/*@thymesVar id="user" type="es.udc.fic.gestamodel.service.user.UserProfileDTO"*/-->
                                    <div th:each="user : ${selectedUsers}" class="row" th:id="'user-'+${user.id}">
                                        <input class="form-control" name="assignTo" type="hidden" th:value="${user.id}">
                                        <input class="form-control-plaintext col-8" th:value="${user.email}">
                                        <button type="button" class="btn btn-danger" onclick="removeUser(this)">remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <button type="submit" class="btn btn-success" th:text="#{project.title.assign}"></button>
                        </div>
                    </fieldset>
                </form>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    $(function () {
                        openModalWindowOnAction({
                            component: $("#add-user"),
                            action: "click",
                            modalId: "#search-user-modal",
                            override: true
                        });
                        openModalWindowOnAction({
                            component: $("#add-project"),
                            action: "click",
                            modalId: "#search-project-modal",
                            override: true,
                            success: function () {
                                $("#search-project-modal-body").find(":button").on("click", function () {
                                    $("#projectID").val($(this).parent().parent().find("a:first").text());
                                    $('#search-project-modal').modal('toggle');
                                });
                            }
                        });
                    });
                    /*]]>*/
                    function selectUser(obj) {
                        addUser($(obj).data("id"), $(obj).data("fullname"));
                        $('#search-user-modal').modal('toggle');
                    }
                    function addUser(id, fullName) {
                        var divId = "user-" + id;
                        if ($("#" + divId).length) {
                            return;
                        }
                        var remove = "remove";
                        var newElement = "<div class='row' id=" + divId +">";
                        newElement += "<input class=\"form-control\" name=\"assignTo\" type=\"hidden\"" +
                            "value='"+ id +"'>";
                        newElement += "<span class='form-control-plaintext col-8'>"+fullName+"</span>";
                        newElement += "<button type='button' class='btn btn-danger' onclick='removeUser(this)'>" + remove + "</button>" +
                            "</div>";
                        $("#assignToDiv").append(newElement);
                    }

                    function removeUser(obj) {
                        $(obj).parent().remove();
                    }
                </script>
                <div th:replace="fragments/Components :: modal(id='search-user-modal', title=#{user.title.search})"></div>
                <div th:replace="fragments/Components :: modal(id='search-project-modal', title=#{project.title.search})"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>