<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{developmentCycle.title.create}">create-cycle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container col-lg-5">
    <div class="card">
        <div class="card-header">
            <h5 th:text="#{developmentCycle.title.create}"></h5>
        </div>
        <div class="card-body">
            <th:block th:fragment="createCycleFragment">
                <!--/*@thymesVar id="returnedError" type="java.lang.String"*/-->
                <div id="error-msg" class="alert alert-danger fade" role="alert"
                     th:classappend="${returnedError == null || returnedError.empty} ? '' : 'show'">
                    <th:block th:if="${returnedError != null}"
                              th:text="${returnedError}">

                    </th:block>
                </div>
                <form id="new-cycle-form" class="form col" method="post" th:action="@{/project/{id}/create-cycle(id=${projectId})}">
                    <div th:replace="fragments/Components ::
                        textField ('cycle-name', ${cycleName}, #{developmentCycle.name}, #{developmentCycle}, true, false)">
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-info col-auto ml-3" th:text="#{common.confirm}"></button>
                    </div>
                </form>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    $(function () {
                        ajaxSubmitFormPost({component: $("#new-cycle-form"),errorComponent: $("#error-msg")});
                    });
                    /*]]>*/
                </script>
            </th:block>
        </div>
    </div>

</div>
</body>
</html>