<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{project.title.create}">Create Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
    <th:block th:replace="fragments/Components :: importBootstrapSelect"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div th:fragment="changePassword" class="container col-lg-5">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" th:text="#{project.title.create}">Create Project</h4>
        </div>
        <div class="card-body">
            <div th:fragment="createProjectFragment">
                <!--/*@thymesVar id="error_msg" type="java.lang.String"*/-->
                <div id="errormsg" class="alert alert-danger" role="alert"
                     th:text="${error_msg != null && !error_msg.isEmpty()} ? #{${error_msg}} : ''"
                     th:style="${error_msg} ? '' :  'display: none'"></div>
                <div class="container">
                    <form id="projectForm" class="form-narrow form-horizontal col-sm-12" th:action="@{/project/create}"
                          method="post">
                        <fieldset>
                            <div class="form-group row">
                                <label class="col control-label" for="projectName" style="color: grey"
                                       th:text="#{project.name}">
                                    Project Name</label>
                                <div class="col-lg-12">
                                    <input class="form-control" id="projectName" name="projectName" placeholder="Project Name"
                                           th:placeholder="#{project.name}" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col control-label" for="projectID" style="color: grey" th:text="#{project.id}">
                                    Project ID</label>
                                <div class="col-lg-12">
                                    <input class="form-control" id="projectID" name="projectID" placeholder="Project ID"
                                           th:placeholder="#{project.id}" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col">
                                    <div class="row">
                                        <label style="color: grey" for="projectLeader" class="col control-label"
                                               th:text="#{project.leader.email}">
                                            Project Leader</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div th:with="jsonFieldValue = 'email'" class="form-group row" id="assign-form-group">
                                                <select id="projectLeader" th:replace="fragments/Components ::
                                                    dynamicSelect('projectLeader','',
                                                        @{/user/getUsers}, 'fullName', 'col', 'user')"></select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                        <button class="btn btn-secondary" data-target="#search-user-modal"
                                                data-toggle="modal"
                                                th:data-action="@{/user/search(selectUser=true)}"
                                                id="search-user-button"
                                                th:text="#{common.search}" type="button">
                                            Search
                                        </button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <button class="btn btn-primary col-lg-4 col-md-4 col-sm" th:text="#{project.title.create}"
                                        type="submit">Create!
                                </button>
                            </div>

                        </fieldset>
                    </form>
                </div>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    $(document).ready(function () {
                        openModalWindowOnAction({
                            component: $("#search-user-button"),
                            action: "click",
                            modalId: "#search-user-modal",
                            override: true
                        });
                        ajaxSubmitFormPost({
                            component: $("#projectForm"),
                            errorComponent: $("#errormsg"),
                            preCheck: function () {
                                var errorElement = $("#errormsg");
                                if (!$("#projectName").val()) {
                                    errorElement.addClass("show");
                                    errorElement.show();
                                    errorElement.text([[#{project.error.emptyName}]]);
                                    return true;
                                }
                                if (!$("#projectID").val()) {
                                    errorElement.addClass("show");
                                    errorElement.show();
                                    errorElement.text([[#{project.error.emptyId}]]);
                                    return true;
                                }
                                if (!$("#projectLeader").val()) {
                                    errorElement.addClass("show");
                                    errorElement.show();
                                    errorElement.text([[#{project.error.leaderNull}]]);
                                    return true;
                                }
                                return false;
                            },
                            success: function () {
                                var url = [[@{/project/details/}]];

                                $(location).attr('href', url + $("#projectID").val());
                            }
                        });
                    });

                    /*]]>*/
                    function selectUser(obj) {
                        $("#projectLeader")
                            .html("<option value='"+ $(obj).data("email")+"' selected>"+ $(obj).data("fullname") +"</option>")
                            .selectpicker('refresh');
                        $('#search-user-modal').modal('toggle');
                    }
                </script>
                <div th:replace="fragments/Components :: modal(id='search-user-modal', title=#{user.title.search})"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>