<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{project.title.details}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
    <th:block th:replace="fragments/Components :: importBootstrapSelect"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <br>
    <div class="card">
        <div>
            <div class="card-header">
                <div class="row">
                    <div class="col-auto">
                        <span class="text-white rounded p-2" th:text="${projectDetails.projectState}"
                              th:classappend="${T(es.udc.fic.gesta.model.util.ProjectState).CLOSE == projectDetails.projectState}
                        ? 'bg-danger' : 'bg-info'"></span>
                    </div>
                    <h5 class="card-title col" th:text="${projectDetails.projectID + ' - ' + projectDetails.projectName}">
                    </h5>
                    <div class="col-auto">
                        <a class="btn btn-info col-auto align-self-end mt-n2  mb-1" data-target="#edit-project-modal"
                           data-toggle="modal" id="edit-project"
                           th:href="@{/project/edit/{id}(id=${projectDetails.projectID})}"
                           th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                           th:text="#{project.title.edit}"></a>
                        <a class="btn btn-danger col-auto align-self-end mt-n2 mb-1 mr-5" data-target="#remove-project-modal"
                           data-toggle="modal" id="remove-project"
                           th:href="@{/project/remove/{id}(id=${projectDetails.projectID})}"
                           th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                           th:text="#{project.title.remove}"></a>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <a class="btn btn-link col-auto" th:href="@{/time-logs(projectId= ${projectID})}"
                       th:text="#{timeLog.title.myTimeLogs}"></a>
                    <span class="border-right"></span>
                    <a id="create-cycle-btn" class="btn btn-link col-auto"
                       th:href="@{/project/{id}/create-cycle(id= ${projectID})}"
                       th:text="#{developmentCycle.title.create}"></a>
                    <span class="border-right"></span>
                    <a id="view-cycles-btn" class="btn btn-link col-auto"
                       th:href="@{/project/{id}/cycles(id= ${projectID})}"
                       th:text="#{project.title.viewCycles}"></a>
                </div>
            </div>
            <div class="card-body px-0 pb-0">
                <div class="row">
                    <div id="projectLeaderDiv" class="col-lg-5">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th class="align-top" style="width: 40%" th:text="#{project.leader}"> Project Leader
                                </th>
                                <td th:object="${projectDetails.projectLeader}">
                                    <a th:text="*{fullName}" href="#" th:href="@{'/profile/'+ *{id}}"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="projectAssigneesDiv" class="col">
                        <table class="table table-bordered">
                            <thead th:switch="${projectDetails.assignedTo != null && projectDetails.assignedTo.size() > 1}">
                            <tr class="d-flex">
                                <th class="col" th:text="#{project.assignees}"> Project Assignees</th>
                                <th class="col-4">
                                    <a class="hyperlink" id="assign-project-lnk"
                                       th:text="#{project.title.assign}"
                                       th:href="@{/project/assign/{id}(id=${projectDetails.projectID})}">
                                        Assign Project</a>
                                </th>
                            </tr>
                            <tr class="d-flex" th:case="true">
                                <th class="col" th:text="#{user.fullName}"> Name</th>
                                <th class="col" th:text="#{user.email}"> Email</th>
                            </tr>
                            <tr class="d-flex" th:case="*">
                                <th class="col" th:text="#{project.assignees.empty}"> No User assigned to the project.
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="d-flex" th:each="user : ${projectDetails.assignedTo}"
                                th:unless="${user.id == projectDetails.projectLeader.id}">
                                <td class="col">
                                    <a th:text="${user.fullName}" href="#" th:href="@{'/profile/'+ ${user.id}}"></a>
                                </td>
                                <td class="col" th:text="${user.email}" style="width: 50%"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <div id="projectIssues" class="card"
                         th:with="issuesExists = ${projectIssues != null && !projectIssues.empty}">
                        <!--/*@thymesVar id="projectIssues" type="java.util.List"*/-->
                        <!--/*@thymesVar id="issuesExists" type="java.lang.Boolean"*/-->
                        <div class="card-header">
                            <div class="row">
                                <p class="col font-weight-bold" th:text="#{project.issues}">Project Issues</p>
                                <div class="col-auto">
                                    <a class="card-link mx-2"
                                       th:if="${issuesExists}" th:text="#{common.viewAll}"
                                       th:href="@{/project/{id}/issues(id=${projectDetails.projectID})}"> View All</a>
                                    <span class="border-right"></span>
                                    <a class="card-link text-right mx-3"
                                       th:text="#{issue.title.create}"
                                       th:href="@{/issue/create(projectID=${projectDetails.projectID})}"> New Issue </a>
                                </div>
                            </div>
                        </div>
                        <th:block th:if="${issuesExists}">
                            <table th:replace="fragments/ResultTables ::
                                issueTable('issue-table', ${projectIssues}, 'table-bordered card-table mb-0')"></table>
                        </th:block>
                        <div class="card-body" th:if="${!issuesExists}">
                            <span class="" th:text="#{project.issues.empty}"> No Issues in this project.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function () {
            openModalWindowOnAction({
                component: $("#remove-project"),
                action: "click",
                modalId: "#remove-project-modal"
            });
            openModalWindowOnAction({
                component: $("#edit-project"),
                action: "click",
                modalId: "#edit-project-modal",
                override: true
            });
            openModalWindowOnAction({
                component: $("#create-cycle-btn"),
                action: "click",
                modalId: "#create-cycle-modal",
            });
            openModalWindowOnAction({
                component: $("#assign-project-lnk"),
                action: "click",
                modalId: "#assign-project-modal",
                success: function () {
                    $("#project-form-group").hide();
                }
            });
        });
        /*]]>*/
    </script>
    <div th:replace="fragments/Components ::
        modal(id='assign-project-modal', title=#{project.title.assign} + ' ' + ${projectDetails.projectID})"></div>
    <div th:replace="fragments/Components ::
        modal(id='remove-project-modal', title=#{project.title.remove} + ' ' + ${projectDetails.projectID})"></div>
    <div th:replace="fragments/Components ::
        modal(id='edit-project-modal', title=#{project.title.edit} + ' ' + ${projectDetails.projectID})"></div>
    <div th:replace="fragments/Components ::
        modal(id='create-cycle-modal', title=#{developmentCycle.title.create} + ' ' + ${projectDetails.projectID})"></div>
</div>
</body>
</html>