<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{project.title.edit}">edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container card col-lg-5">
    <div class="card-body">
        <form class="form col" id="edit-project-form" th:fragment="editProjectForm" th:object="${projectForm}" method="post"
              th:action="@{/project/edit/{id}(id = ${projectDetails.getProjectID()})}">
            <!--/*@thymesVar id="returnedError" type="java.lang.String"*/-->
            <div id="error-msg" class="alert alert-danger fade" role="alert"
                 th:classappend="${returnedError == null || returnedError.empty} ? '' : 'show'">
                <th:block th:if="${returnedError != null}"
                          th:text="${returnedError}">

                </th:block>
            </div>
            <fieldset th:with="horizontal = true">
                <legend th:if="${dontShowFormLegend == null || !dontShowFormLegend}" th:text="#{project.title.edit}"></legend>
                <div th:replace="fragments/Components ::
                    textField('projectName', *{projectName}, #{project.name}, #{project.name}, ${horizontal}, false)"></div>
                <div th:replace="fragments/Components ::
                    selectField('projectState', ${T(es.udc.fic.gesta.model.util.ProjectState).values()},
                        *{projectState}, #{project.state}, ${horizontal})"></div>
                <div class="form-group row">
                    <label class="control-label col-3" for="projectLeaderID" style="color: grey"
                           th:text="#{project.leader}">
                    </label>
                    <input class="form-control col" id="projectLeaderID" name="projectLeaderID" type="hidden"
                           th:value="*{projectLeaderID}">
                    <label id="assignedUserEmail" class="col-auto"
                           th:text="${projectDetails.projectLeader.fullName}"></label>
                    <div class="col-auto">
                        <button class="btn btn-secondary" th:data-action="@{/user/search(selectUser=true)}"
                                data-target="#search-user-modal" data-toggle="modal"
                                id="add-user" th:text="#{common.search}" type="button"></button>
                    </div>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        openModalWindowOnAction({
                            component: $("#add-user"),
                            action: "click",
                            modalId: "#search-user-modal"
                        });
                        /*]]>*/
                        function selectUser(obj) {
                            $("#projectLeaderID").val($(obj).data("id"));
                            $("#assignedUserEmail").text($(obj).data("fullname"));
                            $('#search-user-modal').modal('toggle');
                            return false;
                        }
                    </script>
                    <div th:replace="fragments/Components :: modal(id='search-user-modal', title=#{user.title.search})">
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-info" th:text="#{project.title.edit}"></button>
                </div>
            </fieldset>
            <th:block th:if="${dontShowFormLegend != null && dontShowFormLegend}">
                <script th:inline="javascript">
                    $(function () {
                        ajaxSubmitFormPost({component: $("#edit-project-form"), errorComponent: $("#error-msg")});
                    });
                </script>
            </th:block>
        </form>
    </div>
</div>
</body>
</html>