<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{project.title.remove}">remove</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container card col-lg-5">
    <div class="card-body">
        <h5 class="card-title" th:text="#{project.title.remove}"></h5>
        <th:block th:fragment="removeProjectFragment">
            <p class="card-text" th:text="#{project.confirmRemove(${projectDetails.projectID})}"></p>
            <form method="post" th:action="@{/project/remove/{id}(id = ${projectDetails.projectID})}">
                <button class="btn btn-success" id="confirmButton" th:text="#{common.confirm}" type="submit"></button>
                <a class="btn btn-danger" id="cancelBtn" th:text="#{common.cancel}"
                   th:href="@{/project/details/{id}(id = ${projectDetails.projectID})}"
                   th:unless="${T(es.udc.fic.gesta.app.web.utils.Ajax).isAjaxRequest(#httpServletRequest.getHeader('X-Requested-With'))}"></a>
            </form>
        </th:block>
    </div>
</div>
</body>
</html>