<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{project.title.search}">search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
    <div class="container" th:fragment="searchProjectsFragment">
        <!--/*@thymesVar id="searchProjectForm" type="es.udc.fic.gesta.app.web.controller.project.form.SearchProjectForm"*/-->
        <form id="searchProjectForm" class="form form-horizontal" th:object="${searchProjectForm}" method="GET"
              th:action="@{/project/search}">
            <fieldset class="row">
                <div class="form-group col-lg col-md-5 col-sm-12">
                    <label class="sr-only" for="projectNameOrID" th:text="#{project.nameOrID}">Project Name or ID</label>
                    <input class="form-control" id="projectNameOrID" name="projectNameOrID" placeholder="Project Name or ID"
                           th:placeholder="#{project.nameOrID}" th:value="*{projectNameOrID}" type="text">
                </div>
                <div class="form-group col-lg col-md-5 col-sm-12">
                    <label for="projectLeaderName" class="sr-only" th:text="#{project.leader}">Project Leader</label>
                    <input class="form-control" id="projectLeaderName" name="projectLeaderName" placeholder="Project Leader"
                           th:placeholder="#{project.leader.name}" th:value="*{projectLeaderName}"
                           type="text">
                </div>
                <div class="form-group col-lg-2 col-md-5">
                    <button class="btn btn-primary mb-2" id="searchUserButton" th:text="#{common.search}" type="submit">
                        Search
                    </button>
                </div>
            </fieldset>
        </form>
        <div id="searchProjectResult">
            <div th:fragment="searchProjectResultFragment">
                <!--/*@thymesVar id="selectType" type="es.udc.fic.gesta.app.web.utils.SelectType"*/-->
                <table th:replace="fragments/ResultTables ::
                                projectTable(${searchProjectPage.content}, 'table-bordered', ${selectType})"></table>
                <!--/*@thymesVar id="pageNumbers" type="java.util.List<java.lang.Integer>"*/-->
                <nav th:replace="fragments/ResultTables ::
                    resultPageSelector(${searchProjectPage}, '/project/search')">
                </nav>
            </div>
        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            $(function () {
                ajaxSubmitFormGet({
                    component: $("#searchProjectForm"),
                    resultComponent: $("#searchProjectResult"),
                    url: "/project/searchResult"
                });
            });
            /*]]>*/
        </script>
    </div>
</body>
</html>