<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{developmentCycle.title.searchProjectCycles(${projectId})}">search-cycle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/css/bootstrap-select.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/js/bootstrap-select.min.js"></script>
    <script th:src="@{/js/ajaxRequests.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
<div class="container" th:fragment="searchProjectsFragment">
    <div class="card">
        <div class="card-header">
            <h4 th:text="#{developmentCycle.title.searchProjectCycles(${projectId})}"></h4>
            <!--/*@thymesVar id="searchProjectForm" type="es.udc.fic.gesta.app.web.controller.project.form.SearchProjectForm"*/-->
            <form id="searchCycleForm" class="form form-horizontal ml-3" th:object="${searchProjectForm}" method="GET"
                  th:action="@{/project/{projectId}/cycles(projectId = ${projectId})}">
                <fieldset class="row">
                    <div th:replace="fragments/Components ::
                textField ('cycle', '', #{developmentCycle.name},#{developmentCycle.name} , false, false)"></div>

                    <div class="form-group  col-lg-2 col-md-2 d-flex flex-column">
                        <button class="btn btn-primary mt-auto" id="searchUserButton" th:text="#{common.search}"
                                type="submit">
                            Search
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div id="search-cycle-result" class="card-body">
            <div th:fragment="searchCycleResultFragment">
                <table id="cycle-result-table" class="table table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{developmentCycle.name}">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="searchCycleResult" type="org.springframework.data.domain.Page"*/-->
                    <tr th:if="${searchCycleResult.totalElements == 0}">
                        <td colspan="2" th:text="#{project.noProjectsFound}"> No projects found</td>
                    </tr>
                    <tr th:each="developmentCycle : ${searchCycleResult.content}">
                        <!--/*@thymesVar id="developmentCycle" type="es.udc.fic.gestamodel.service.dto.DevelopmentCycleDTO"*/-->
                        <td>
                            <a th:text="${developmentCycle.name}"
                               th:href="@{/project/{project_id}/cycle/{name}(project_id = ${projectId},name = ${developmentCycle.name})}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="cycle-navigation">
                    <nav th:replace="fragments/ResultTables ::
                    resultPageSelector(${searchCycleResult}, ${'/project/'+ projectId +'/cycles'})">
                    </nav>
                    <script th:inline="javascript"
                            th:with="baseUrl = ${'/project/' + projectId + '/searchCycleResult'}">
                        /*<![CDATA[*/
                        $(function () {
                            ajaxNavigation("#cycle-navigation", "#search-cycle-result", [[${baseUrl}]]);
                        });
                        /*]]>*/
                    </script>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            $(function () {
                ajaxSubmitFormGet({
                    component: $("#searchCycleForm"),
                    resultComponent: $("#search-cycle-result"),
                    url: [[${'/project/' + projectId + '/searchCycleResult'}]]
                });


            });
            /*]]>*/
        </script>
    </div>
</div>
</body>
</html>