<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{signin}">Sign In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 center">
            <form id="signinForm" class="form-narrow form-horizontal" action="#" method="post"
                  th:action="@{/authenticate}">
                <th:block th:if="${param.error != null}">
                    <div th:replace="fragments/components :: alert (type='danger', message='Sign in error. Please try again.')">
                        Alert
                    </div>
                </th:block>
                <fieldset>
                    <legend th:text="#{signin.form.title}">Please Sign In</legend>
                    <div class="form-group">
                        <label style="color: grey" for="inputEmail" class="col-lg-2 control-label"
                               th:text="#{user.email}">Email</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputEmail" placeholder="Email"
                                   name="username" th:placeholder="#{user.email}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="color: grey" for="inputPassword" class="col-lg-2 control-label"
                               th:text="#{user.password}">Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                                   name="password" th:placeholder="#{user.password}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <div class="checkbox">
                                <label style="color: grey">
                                    <input type="checkbox" name="_spring_security_remember_me"/>
                                    <div th:text="#{signin.rememberMe}" th:remove="tag"> Remember Me</div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-success" th:text="#{signin}">Sign in</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>
</body>
</html>